  .show-hide-fade.ng-hide-add, .show-hide-fade.ng-hide-remove {
    -webkit-transition:all ease 300ms;
    -moz-transition:all ease 300ms;
    -o-transition:all ease 300ms;
    transition:all ease 300ms;
    display:block!important;
  }
 
  .show-hide-fade.ng-hide-add.ng-hide-add-active,
  .show-hide-fade.ng-hide-remove {
    opacity:0;
  }
 
  .show-hide-fade.ng-hide-add,
  .show-hide-fade.ng-hide-remove.ng-hide-remove-active {
    opacity:1;

  }

.slide-right.ng-hide-remove {
    -webkit-animation: fadeInRight 0.2s;
    animation: fadeInRight 0.2s;
}

.slide-right.ng-hide-add {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
    display: block !important;
}

.slide-left.ng-hide-remove {
    -webkit-animation: slideInLeft 0.3s;
    animation: slideInLeft 0.3s;
}

.slide-left.ng-hide-add {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
    display: block !important;
}


div[ui-view].ng-enter {
    transition: all 0.2s linear;
    opacity: 0;
}

div[ui-view].ng-enter-active {
    opacity: 1;
}

  .panel-collapse.ng-hide-add, .panel-collapse.ng-hide-remove {
    -webkit-transition:all ease 300ms;
    -moz-transition:all ease 300ms;
    -o-transition:all ease 300ms;
    transition:all ease 300ms;
    display:block!important;
  }
 
  .panel-collapse.ng-hide-add.ng-hide-add-active,
  .panel-collapse.ng-hide-remove {
    opacity:0;
  }
 
  .panel-collapse.ng-hide-add,
  .panel-collapse.ng-hide-remove.ng-hide-remove-active {
    opacity:1;

  }