/* 
  LANDING
 */

.big-header {
  font-size: 4rem;
  margin-top: 35px;
  font-family: Source Sans Pro;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 14px rgba(110, 139, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 22px -3px #767676;
  background-color: #C3CFE4;
  opacity: .5;
  border-radius: 4px;
}

a:hover,
a:focus {
  color: #2461FF;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #0040B3;
  /*   text-decoration: underline; */
  line-height: inherit;
  cursor: pointer;
}

blockquote,
blockquote p {
  line-height: 1.6;
  font-style: italic;
  color: #6F6F6F;
  font-family: 'Roboto', sans-serif;
}

blockquote {
  margin: 0 0  1.25rem;
  padding: 0.5625rem 1.25rem 1rem 1.1875rem;
  border-left: 1px solid #dddddd;
}

#header {
  text-align: center;
  opacity: 0.4;
  /* background-color: rgb(159, 33, 243); */
  transition: all .2s ease-in-out;
}

#header:hover {
  opacity: 1;
}

#top-nav {
  height: 50px;
}

.panel {
  padding: 12px 10px;
  background-color: white;
}

.ion-close {
  opacity: 0.4;
  background-color: white;
  /* cursor: pointer; */
  margin-left: 10px;
  transition: opacity .2s ease;
  font-size: 10px;
  height: 16px;
  padding: 3px 4px 2px 5px;
}

.ion-close:hover {
  opacity: 1;
  background-color: rgb(255, 139, 139);
  border-radius: 23px;
  color: white;
}

.top-nav-item {
  font-family: 'Open sans', sans-serif;
  font-size: 1.33rem;
  /* font-variant: small-caps; */
  /* font-style: italic; */
  opacity: 0.7;
  letter-spacing: 3px;
  cursor: pointer;
  height: 80%;
  padding: 9px 0 0 0;
  transition: all 200ms ease;
  text-shadow: 0px -1.3px 0px rgb(222, 222, 222);
  /* border-bottom-left-radius: 8px; */
  /* border-bottom-right-radius: 8px; */
}

.top-nav-item:hover {
  font-style: normal;
  opacity: 1;
  box-shadow: 0px 1px 2px -1px rgb(165, 159, 159);
  /* font-size: 1.56em; */
}

#wrdz-headline {
  font-family: 'patua one', serif;
  /* font-family: 'Oswald ', serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Cambo', serif; */
  font-size: 1.4em;
  padding-top: 7px;
  /* font-weight: 800; */
  letter-spacing: 3px;
  cursor: pointer;
  /* background-color: white; */
  /* font-style: italic; */
  font-variant: normal;
  padding-bottom: 9px;
  /* opacity: 0.5; */
  transition: all .35s ease;
  /* box-shadow: inset 1px 0px 0px 0px gold; */
}

#wrdz-headline:hover {
  /* color: rgb(247, 251, 255); */
  /* padding: 2px 0px; */
  text-shadow: 0px -1px 0px rgb(0, 0, 0);
  /* margin-top: -30px; */
  /* border-bottom: ridge 3px rgb(225, 224, 224); */
}

#top-nav-write.activeTopNav {
  color: rgba(255, 137, 0, 1);
  /* text-shadow: 1px 0px 0px silver; */
  transition: all .2s ease;
}

#top-nav-write:hover {
  /* border-bottom: solid 2px #80EE6C; */
  /* box-shadow: -1px 6px 9px 0px #70ff56; */
}

.bottom-nav-item {
  padding: 14px 0  0 0;
  height: 45px;
  font-size: 0.91em;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  letter-spacing: 1px;
}

.bottom-nav-item:hover {
  box-shadow: inset 0px -6px 0px -4px #ffd855;
}

#bottom-nav {
  margin-top: 22px;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0px -1px 3px -1px #ffd9ad;
  border-bottom: solid 1px #ffd9ad;
}

#top-nav-read.activeTopNav {
  color: rgb(213, 0, 22);
  transition: all .2s ease;
}

#top-nav-inbox.activeTopNav {
  color: rgba(20, 173, 35, 1);
  /* text-shadow: 1px 0px 0px silver; */
}

.activeTopNav:hover {
  box-shadow: none;
}

#top-nav-profile.activeTopNav {
  color: rgba(0, 5, 255, 1);
}

#top-nav-profile:hover {
  /* border-bottom: solid 2px gold; */
}

#bottom-nav-headlines {
  box-shadow: 0px 6px 0px -4px #d14545;
}

#content {
  padding-top: 50px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  /* font-style: italic; */
  /* font-weight: 600; */
  line-height: 1.8em;
  opacity: 0.9;
  font-size: 1.9em;
  letter-spacing: 0.5px;
}

.row {
  /* max-width: 75rem; */
}

.headline {
  padding: 10px;
  border-bottom: solid 1px black;
}

.headlines-info {
  height: 100%;
  padding-top: 5%;
}

#write-body {
  border: none;
  margin-top: 10px;
  /* position: absolute; */
}

.write-labels-box {
  height: 140px;
  margin: 5px auto;
  border-radius: 4px;
  border: solid 1px #cdcddd;
}

#write-buttons-container {
  margin: 20px 0 0 0;
  opacity: 0.15;
  transition: opacity .25s ease-in-out;
}

#write-buttons-container:hover {
  opacity: 1;
}

.btn-jo {
  width: 100%;
  padding: 7px;
  opacity: 0.5;
  background-color: white;
  color: black;
  border: solid 1px #cdcddd;
  margin: 13px 0px 10px 0px;
  transition: all .1s ease-in-out;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border-radius: 2px;
}

.btn-jo.active {
  /* box-shadow: inset 0px 0px 28px -14px rgb(121, 119, 50); */
  opacity: 1;
  /* border-color: rgb(0, 255, 128); */
}

.btn-jo:hover,
.btn-jo:focus {
  border: solid 1px rgb(219, 219, 219);
  outline: none;
  /* box-shadow: inset 0px 0px 2px 0px rgb(190, 190, 190); */
  opacity: 1;
  padding: 9px 5px;
  /* font-weight: 800; */
}

p {
  font-family: 'Source Sans Pro', serif;
  font-family: 'Cambo', serif;
  font-size: 22px;
  line-height: 1.35;
  margin-bottom: 1em;
  /* opacity: 0.9; */
  padding-right: 12px;
  padding-left: 5px;
  /* text-shadow: -1px 0px 0px rgba(199, 199, 199, 1); */
  text-rendering: optimizeLegibility;
}

li {
  font-size: 20px;
}

#write-center {
  /* margin-top: 10px; */
  padding: 5% 6%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 0px 5px -1px silver;
  border-radius: 4px;
  max-width: 684px;
  margin: 10px auto;
  /* position: relative; */
}

#write-content {
  margin-top: 15px;
  outline: none;
  padding: 0px 10px;
  border: none;
  cursor: text;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Source Sans Pro', serif;
  font-size: 17px !important;
}

#remove-title-switch {
  width: 30px;
  float: right;
  margin-top: -20px;
}

#write-title {
  font-family: 'Roboto', sans-serif;
  /* font-family: "Alegreya Sans", sans-serif; */
  font-size: 3.5rem;
  text-align: left;
  /* letter-spacing: 0.8px; */
  line-height: 1;
  outline: none;
  transition: all 1000ms ease;
  border: none;
  border-bottom: 1px rgba(224, 224, 224, 1);
  cursor: text;
  padding-bottom: 25px;
  font-weight: 600;
  opacity: 0.82;
  /* font-style: italic; */
  clear: both;
  /* color: rgb(26, 23, 49); */
  /* text-shadow: -1px 0px 0px rgb(194, 194, 194); */
  border-bottom-style: solid;
}

.side-column-right {
  padding: 0px 30px 0px 40px;
}

#write-labels-boxes {
  margin: 40px auto;
}

.box-title {
  margin: 20px 0px 10px 0px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 5px;
  font-size: 1.2em;
  font-weight: 600;
  font-variant: small-caps;
}

.label-add-button {
  margin-top: -1px;
}

#box-input {
  margin: 0;
}

.top-labels {
  font-size: 0.8em;
  padding: 0px 5px;
}

#talk-body {
  margin-top: 70px;
}

h3 {
  font-family: 'Patua One', sans-serif;
  font-size: 4.2rem;
  font-weight: 200;
  line-height: 1.8;
  opacity: 0.95;
}

.inbox-unread {
  margin-top: 10px;
  color: gold;
}

.talk-inbox-block {
  border-bottom: solid 1px #cdcccc;
  height: 50px;
  border-radius: 3px;
  padding: 8px 0px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 0.8em;
}

.talk-inbox-block:hover {
  background-color: #f5f5f5;
}

.inbox-from {
  height: 18px;
  font-family: 'Noto Sans', sans-serif;
  border-bottom: solid 1px #cdcccc;
}

.inbox-re {
  font-family: 'Noto Sans', sans-serif;
  padding-top: 5px;
  font-style: italic;
}

#active-inbox-block {
  background-color: #f5f5f5;
}

.message-headers {
  margin: -9px 0px 15px 0;
  font-family: 'Noto Sans', sans-serif;
  border-bottom: solid 1px #cdcccc;
  padding: 15px 0px 5px 0px;
  font-style: italic;
  font-size: 0.9em;
}

.message-content {
  padding: 10px;
  line-height: 1.2;
}

.message {
  margin: 5px 0px;
  background-color: #edf9ff;
  padding: 8px;
  font-size: 0.9em;
}

.other-message {
  margin: 5px 0px;
  background-color: #94d9ff;
  padding: 8px;
  font-size: 0.9em;
}

#read-list-body {
  margin-top: 25px;
}

#read-sections-body {
  margin-top: 30px;
}

.read-list-item {
  height: 100%;
  margin-bottom: 0px;
  padding: 18px 22px;
  border: solid 1px white;
  cursor: pointer;
  transition: all .1s ease;
  box-shadow: inset 0px -2px 4px -2px silver;
}

.read-list-bottom-row {
  padding-top: 10px;
}

.read-list-date {
  /* margin-left: -31px; */
  /* padding-top: 10px; */
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.5;
  /* width: 100%; */
}

.profile-list-item {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 15px 20px;
  border-radius: 3px;
  opacity: 0.7;
  border: solid 1px white;
  border-bottom-color: #cdcccc;
  cursor: pointer;
  transition: all .2s linear;
}

.read-list-item:hover {
  /* border: solid 1px #cdcccc; */
  background-color: rgba(248, 248, 248, 0.56);
}

.profile-list-item:hover {
  opacity: 1;
  border: solid 1px #cdcccc;
}

.ion-heart {
  color: rgba(255, 99, 92, 0.37);
  font-size: 1.5em;
  /* margin-top: -20px; */
  /* margin-bottom: -20px; */
  /* padding-top: 11px; */
}

.ion-arrow-up-a {
  color: rgba(6, 170, 0, 0.33);
  font-size: 1.5em;
}

.read-list-arrow {
  padding-top: 0px;
  height: 100%;
  font-size: 1.0em;
  transition: all .2s linear;
}

.read-list-heart {
  height: 100%;
  padding-top: 1px;
  font-size: 1.0em;
  transition: all .2s linear;
}

.read-list-headline {
  font-family: 'PT Sans Narrow', sans-serif;
  /*    font-variant:small-caps;*/
  font-size: 1.3em;
  padding: 0px 0 10px 0;
}

.read-list-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  /* font-weight: 700; */
  /* line-height: 1.7; */
  padding-top: 2px;
}

.profile-list-title {
  font-family: 'PT Sans Narrow', serif;
  font-size: 1.4em;
  letter-spacing: 0.41px;
  padding: 4px 0px 0px 10px;
}

.read-list-points {
  font-size: 0.9em;
  padding: 0 0 0 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  opacity: 0.8;
  color: gray;
}

.read-list-arrow-count {
  padding-top: 5px;
  /* padding-right: 10px; */
  font-family: 'Open Sans', sans-serif;
}

.read-list-author {
  font-size: 90%;
  /*    font-style: italic;*/
  font-family: 'Open Sans', serif;
  padding: 0 0 0 0;
}

.read-list-heart-count {
  padding-top: 4px;
  padding-right: 14px;
  font-family: 'Open Sans', sans-serif;
}

.tag-label {
  margin: 5px;
  padding-bottom: 3px;
  opacity: 0.6;
  border-radius: 4px;
  background-color: lightgray;
  color: black;
  font-size: 0.8em;
}

#profile-body {
  margin-top: 60px;
}

#profile-name {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4em;
  letter-spacing: px;
}

#profile-info {
  margin-top: 50px;
  font-family: 'Lora', serif;
  line-height: 1.2;
}

.profile-tab {
  padding: px;
  margin: 0;
  height: 20px;
}

.profile-list-date {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 0.9em;
  padding-top: 10px;
}

#read-headings-body {
  margin-top: 30px;
}

#read-doc-body {
  margin-top: 40px;
}

.read-doc-side-nav-item {
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  opacity: 0.7;
  padding: 5px;
  border-left: solid 3px white;
  margin-bottom: 10px;
  transition: border .2s linear;
}

.read-title {
  font-family: 'Oswald', serif;
  font-size: 2em;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding: 0px 0px 10px 0px;
}

.read-doc-arrow-count {
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

.read-headline {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.6em;
  margin-top: 20px;
  padding: 0px 0 10px 0;
}

.read-doc-author {
  opacity: 0.7;
  font-size: 90%;
  /*    font-style: italic;*/
  font-family: 'Noto Sans', serif;
  padding: 0 20px 0 20px;
  margin-top: 15px;
}

.profile-filter-nav {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.5;
}

.profile-filter-nav:hover {
  opacity: 1;
  border-color: black;
}

.read-doc-heart-count {
  padding-top: 4px;
  padding-right: 14px;
  font-family: 'Open Sans', sans-serif;
}

.read-doc-content {
  font-size: 1.5em;
  text-align: justify;
  line-height: 1.5;
  padding: 25px 40px 50px 40px;
  font-family: 'Lustiana', serif;
}

.read-doc-heart {
  padding: 10px 0;
  width: 140px;
  top: 20%;
  /*    margin-bottom: 30px;*/
  border-radius: 4px;
  /*    box-shadow: -3px 0px 4px -1px lightgray;*/
  font-size: 1.0em;
  transition: all .2s linear;
  cursor: pointer;
  position: fixed;
  opacity: 0.4;
}

.read-doc-heart:hover {
  font-size: 1.15em;
  box-shadow: 0px 0px 4px -1px gray;
  opacity: 1;
}

.read-doc-arrow:hover {
  font-size: 1.15em;
  box-shadow: 0px 0px 4px -1px gray;
  opacity: 1;
}

.read-doc-arrow {
  padding: 10px 0;
  width: 140px;
  top: 12%;
  /*    margin-bottom: 30px;*/
  border-radius: 4px;
  font-size: 1.0em;
  transition: all .2s linear;
  cursor: pointer;
  position: fixed;
  opacity: 0.4;
}

.read-doc-center {
  padding-bottom: 70px;
}

#read-doc-social {
  font-size: 2em;
}

.ion-chatbox {
  font-size: 1.2em;
  /* color: blue; */
  padding-right: 3px;
}

.read-doc-message {
  position: fixed;
  border-radius: 4px;
  padding: 20px;
  top: 10%;
  text-align: center;
  cursor: pointer;
  opacity: 0.2;
  transition: all .2s linear;
}

.read-doc-message:hover {
  opacity: 1;
  box-shadow: 0px 0px 4px -1px gray;
  font-size: 1.05em;
}

.read-doc-write-message {
  position: fixed;
  /*    top: 10%; */
  height: 150px;
  padding-right: 15px;
}

#message-textarea {
  resize: none;
  height: 200px;
}

.activeTopNav {
  /* color: white; */
  transition: all .2s ease-in-out;
  font-weight: 800;
  text-shadow: 0px 1px 0px silver;
  opacity: initial;
  background-color: rgba(229, 230, 239, 0.54);
  /* box-shadow: inset 0px -5px 0px -3px rgba(0, 0, 0, 0.88); */
  font-style: normal;
  /* padding-top: 0px; */
  /* font-size: 1.6em; */
}

.write-column-left {
  /* opacity: 0.4; */
  transition: all .1s ease-in-out;
  /* box-shadow: 5px 0px 3px -4px silver; */
  min-height: 500px;
  padding-left: 2%;
}

.write-column-left:hover {
  opacity: 1;
}

.write-column-right {
  /* opacity: 0.4; */
  transition: all .1s ease-in-out;
  /* box-shadow: -3px -2px 3px -2px silver; */
  min-height: 70px;
  /* padding: 3%; */
}

.write-column-right:hover {
  opacity: 1;
}

.write-publish-buttons {
  margin: 0 0 0 0;
  padding: 0px 9px;
}

#title-switch {
  text-align: right;
  margin-top: -37px;
  opacity: 0.15;
  font-style: italic;
  height: 20px;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-shadow: 2px 0px 5px whitesmoke;
  transition: all .3s ease;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  cursor: default;
}

#title-switch:hover {
  opacity: 0.9;
}

#write-last-title {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 1.1em; */
  /* font-weight: 600; */
  margin-bottom: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.write-last-item {
  margin: 2px 0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9em;
  border-radius: 2px;
  border: solid 1px white;
  opacity: 0.7;
  padding: 10px 7px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.write-last-item:hover {
  opacity: 1;
  /* border: solid 1px #cdcccc; */
  background-color: rgba(205, 204, 204, 0.22);
}

#write-last-tags {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.3;
}

#write-last-tags:hover {
  opacity: 1;
}

.tag-remove-x {
  font-size: 0.8em;
  opacity: 0.3;
  margin-left: 7px;
  cursor: pointer;
}

.tag-remove-x:hover {
  opacity: 1;
  color: red;
}

.ion-plus-circled {
  color: green;
  font-size: 1.7em;
  margin: 4px;
  cursor: pointer;
  opacity: 0.3;
  margin-left: -20px;
}

.ion-plus-circled:hover {
  opacity: 1;
}

.write-add-tag-box {
  margin-top: 35px !important;
}

.tag-add-plus {
  font-size: 1.0em;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.7;
}

.tag-add-plus:hover {
  opacity: 1;
  color: green;
}

.write-recent-tag-title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#write-box {
  /* margin-top: 20px; */
}

.talk-message-container {
  position: fixed;
  max-width: 370px;
  padding-right: 30px;
  top: 15%;
  font-family: 'Droid Sans', sans-serif;
}

.section-label {
  margin: 5px 5px;
  padding-bottom: 5px;
  opacity: 0.5;
  border-radius: 6px;
  background-color: #236fff;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.section-label:hover {
  opacity: 1;
}

#talk-textarea {
  resize: none;
  height: 120px;
}

#talk-send-button {
  margin-top: -25px;
  opacity: 0.4;
}

#talk-send-button:hover {
  opacity: 1;
}

.profile-filter-nav.active {
  font-weight: 700;
  opacity: 1;
}

#profile-karma {
  margin-bottom: 30px;
}

/*  
  ROUTE -  ME 
*/

#me-content {
  margin-top: 20px;
}

.me-doc-block {
  height: 100px;
  overflow: hidden;
}

/*  
  ROUTE -  READ 
*/

#read-list-right {
  border: solid 1px rgba(192, 192, 192, 0.32);
  border-radius: 4px;
}

.read-list-left-item {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  cursor: default;
  transition: all 200ms linear;
}

.read-list-left-item:hover {
  background-color: rgba(235, 235, 235, 0.72);
}

#read-list-left {
  opacity: 0.8;
  transition: all 200ms ease;
}

#read-list-left:hover {
  opacity: 1;
}

/*
  BOOTSTRAP OVERRIDES
*/

.jo-tab {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}