<div class="modal-body thin-modal text-left about-modal">
    <span ng-click="close()" class="pull-right icon ion-close"></span>

  <p>Hello!</p>
  <p>Thanks so much for checking out wrdz.</p>
  <p>This whole thing was made by a guy living in NYC who you can find <a target="_blank" href="http://twitter.com/jorganisak">here</a>.</p>
  <p>He would really like to hear from you. </p>
  <p>No but seriously I mean it.</p>
<br>
  <em>Also, please use this button:</em>&nbsp;&nbsp;
  <button ng-click="feedbackModal()" class="btn btn-sm">Feedback</button>
</div>