<!--   <div class="modal-header">
    <h3>Log In</h3>
</div>
 -->
<div class="modal-body thin-modal">
    <span ng-click="close()" class="pull-right icon ion-close"></span>

   
<h3 ng-hide="local_auth_form">Sign Up</h3>
<h3 ng-show="local_auth_form">Sign In</h3>
<br>
<div id="landing-form">
  <div class="">


    <div ng-hide="local_auth_form">
      
      <form name="signUpForm" role="form" ng-submit="signup(userSignUp)" novalidate="">
        <p>
          
          {{message}}
        </p>
        <div class="text-left form-group">
          
          <label for="username">Choose a username</label>
        <input class="form-control" id="username" type="text" class="medium-6 columns" ng-model="userSignUp.username" required="" placeholder="">
        </div>
        <div class="text-left form-group">
          <label for="email">Email</label>
        <input class="form-control" id="email" type="email" class="medium-6 columns" ng-model="userSignUp.email" required="" placeholder="">
        </div>


        <div class="text-left form-group">
          <label for="password">Password</label>
          
        <input class="form-control" id="password" type="password" class="medium-6 columns" ng-model="userSignUp.password" required="" placeholder="">
        </div>

        <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-jo">Join Wrdz</button>
      </form>      
    </div>

    <div ng-show="local_auth_form">
      
      <form name="signInForm" role="form" ng-submit="signin(userSignIn)" novalidate="">
        <p>
          
          {{message}}
        </p>

        <div class="text-left form-group">
          
          <label for="username">Username</label>
          <input class="form-control" type="text" class="medium-6 columns" ng-model="userSignIn.username" required="">
        </div>

        <div class="text-left form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" class="medium-6 columns" ng-model="userSignIn.password" required="">
          <div class="text-right">
            
            <a ng-click="close(); forgotPasswordModal()" href="">Forgot your password?</a>
          </div> 
        </div>
        

        <button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-jo">Sign in</button>
      <br>
      <br>

      </form>          
    </div>

  </div>
  <br>
  <a ng-show="local_auth_form" ng-click="local_auth_form = !local_auth_form" class="pull-left" href="">Sign up</a>
  <a ng-hide="local_auth_form" ng-click="local_auth_form = !local_auth_form" class="pull-left">Sign in</a>
  <br>
  
</div>




</div>