<div ng-hide="user" class="text-center row">
  <br>
  <br>
  <div class="container">
    
    <div class="row">
      <div class="col-sm-7 text-left">
        
        <h1>Wrdz</h1>
        <br>
        <p>This is a place for you to write. </p>
        <p>It is a tool for unloading your daily thoughts.</p>
        <p>If you want, you can share these ideas with the world.</p>
        <p><a ui-sref="read.list">Read what people are writing now.</a></p>
      </div>
      <div class="col-sm-5">
          <div class="well">
            
            <p>Start Writing Today</p>
            <form name="signUpForm" role="form" ng-submit="signup(userSignUp)" novalidate="">
              {{message}}
              <div class="text-left form-group">
                
                <label for="username">Username</label>
              <input class="form-control" id="username" type="text" class="medium-6 columns" ng-model="userSignUp.username" required="" placeholder="">
              </div>
              <div class="text-left form-group">
                <label for="email">Email</label>
              <input class="form-control" id="email" type="email" class="medium-6 columns" ng-model="userSignUp.email" required="" placeholder="">
              </div>


              <div class="text-left form-group">
                <label for="password">Password</label>
                
              <input class="form-control" id="password" type="password" class="medium-6 columns" ng-model="userSignUp.password" required="" placeholder="">
              </div>
              

              <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-jo">Join Wrdz</button>


            </form>      
          </div>
          
        
        

        
            <a ng-click="launchLogIn()" class="pull-right">Sign In</a>
      </div>
    </div>
  </div>

  <br>
  <br>

</div>