<div ng-hide="user" id="landing-body" class="text-center">
  <div>

    <div>

      <div>
        <div class="visible-xs">
          <h1>Wrdz</h1>
          <br>
          <p>Wrdz is a web app that provides a simple and clean place to write.</p>
        </div>


        <div id="landing-header-big" class="hidden-xs text-left">
          Wrdz
        </div>
        <div id="landing-copy-big">
          A better place to write your thoughts and ideas.
        </div>

        <div>
          <div id="landing-form">
            <div class="">



              <a id="landing-twitter-signup" ng-hide="local_auth_form" ui-sref="twitter">

                 <span class="icon ion-social-twitter"></span> &nbsp; Sign in with Twitter 

             </a>

              <a ng-hide="local_auth_form" ng-click="launchEmailLogin();" class="pull-right">I prefer email.</a>

            </div>

        
        

        

      </div>
    </div>
  </div>
</div>

</div></div>