<div ng-show="data.length === 0" class="text-center">
        <br>
        <br>
        <br>
        <p>You have no hearts</p>
        <p>That's sad :(</p>
        <p><a ui-sref="read.list.front">Go give some love.</a></p>
    </div>
    <div ng-show="data.length">
        
        <div ng-repeat="doc in data | startFrom:currentPage*pageSize | limitTo: pageSize ">

        <div ui-sref="read.doc({docId:doc._id})" class="read-list-item">
            <div class="row">
                <div class="col-sm-8 col-xs-6">
                    <div class="read-list-title">
                        <span ng-show="doc.doc.has_title">
                            {{doc.doc.title}}
                        </span>
                        <span ng-hide="doc.doc.has_title">
                            {{doc.doc.sample | limitTo: 100}}
                        </span>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 pull-left">
                    <div class="row read-list-arrow">
                        <span class="col-xs-1 icon ion-arrow-up-a"></span>
                        <span class="col-xs-1 text-right pull-right read-list-arrow-count">{{doc.up_votes}}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 pull-right">

                    <div class="row read-list-heart">
                        <span class="col-xs-1 icon ion-heart"></span>
                        <span class="col-xs-1 text-right pull-right read-list-heart-count">{{doc.hearts}}</span>
                    </div>


                </div>
            </div>
            <div class="row read-list-bottom-row">
                <div class="col-xs-6">

                    <div class="read-list-author">
                        <a ng-click="$event.stopPropagation()" ui-sref="read.list.user({userId: doc.author._id})" ng-hide="doc.is_anon" href="">{{doc.author.username}}</a>
                        <span ng-show="doc.is_anon"><em>Anonymous</em></span>
                    </div>

                </div>
                <div class="col-xs-6 text-right right">

                    <div class="read-list-date">

                        {{moment(doc.published_at).format('MMMM Do, ha')}}
                    </div>

                </div>
            </div>
        </div>
        </div>
        <br>

        <button class="btn btn-sm pull-left" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
                <span class="icon ion-arrow-left-b"></span>
        </button>
        <button class="btn btn-sm pull-right" ng-hide="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            <span class="icon ion-arrow-right-b"></span>
        </button>
        </div>


    