<div id="mywrdz-body" ng-cloak="" class="row" ng-controller="MyWrdzCtrl">

        <div id="write-fixed-top">
            <div id="write-fixed-top-container">
            <div class="row">
                    <input type="text" id="mywrdz-search" placeholder="Search" class="form-control" ng-model="search">


                    
                    <div class="btn-group filter-button-group">

                        <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'All'">All</button>
                        <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Public'">Public</button>

                        <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Private'">Private</button>                
                        <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Archive'">Archive</button>
                    </div>

                  
                    
                    <button ui-sref="write" class="btn pull-right btn-jo top-bar-btn">
                        <span class="icon ion-edit"></span>&nbsp;&nbsp;Write
                    </button>
                    

            </div>  
            </div>
        </div>

        <div class="fixed-collapse" collapse="editCollapsed">

            <div class="btn-group filter-button-group">

                <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'All'">All</button>
                <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Public'">Public</button>

                <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Private'">Private</button>                
                <button type="button" class="btn btn-default" ng-model="filterModel" btn-radio="'Archive'">Archive</button>
            </div>
    
            <div class="btn-group filter-button-group">
            </div>

                <br>
                <br>
            <div pickadate="" max-date="maxDate" ng-model="date"></div>
                <br>
               
            <span topic-filter="" ng-click="addTopic(top)" ng-repeat="top in topicOptions">
            <span ng-class="{active: active}" class="label label-primary tag-label">{{top.title}} </span>&nbsp;
                
            </span>
        

        </div>



    <div class="col-sm-2 hidden-xs text-center">
        <div id="mywrdz-fixed-left" class="fixed-left">

           <div class="row">
                            
                <button type="button" class="btn btn-jo wrdz-left-btn" ng-click="dateCollapsed = !dateCollapsed; isCollapsed = true; topicCollapse = true;">
                    <span class="icon ion-calendar"></span>
                </button>
                

                
                    
            </div>
            <br>
            <div ng-show="date !== today">
                {{moment(date).format('MMMM Do, YYYY')}}
                <span ng-click="date = today" class="icon tag-remove-x ion-close"></span>
            </div>
            <br>
 

            <div collapse="dateCollapsed" id="date-button-box">

                <div pickadate="" max-date="maxDate" ng-model="date"></div>

                <!-- <div class="row">
                    <div class="col-sm-6">
                        <button ng-click='setToday()' class="btn btn-jo">Today</button>
                    </div>
                    <div class="col-sm-6">
                        <button ng-click="dtCount = 1; dtType = 'Weeks'" class="btn btn-jo">1 Week</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button ng-click="dtCount = 1; dtType = 'Months'" class="btn btn-jo">1 Month</button>
                    </div>
                    <div class="col-sm-6">
                        <button ng-click='isCollapsed = !isCollapsed' class="btn btn-jo">Other</button>
                    </div>
                </div> -->
                
            </div>
           <!--  <div collapse='isCollapsed'>

                <div class="row mywrdz-date-box">
                    <div class="col-sm-6 no-padding text-center">
                        <input type="text" ng-model='dtCount' class='form-control'>
                        
                    </div>
                    <div class="col-sm-6 date-box-arrows">

                        <span ng-click="decreaseCount()" class="icon pull-left ion-chevron-left"></span>
                        <span ng-click="increaseCount()" class="icon pull-right ion-chevron-right"></span>
                    </div>
                </div>
                <div class="row mywrdz-date-box">
                    <div class="col-sm-6">{{dtType}}</div> 
                    <div class="col-sm-6 date-box-arrows">
                        <span ng-click="decreaseType()" class="icon pull-left ion-chevron-left"></span>
                        <span ng-click="increaseType()" class="icon pull-right ion-chevron-right"></span>
                    </div>
                </div>
                <hr>
            </div>     --> 
            


    </div>
</div>

<div class="col-sm-8 col-xs-12">


    <div id="me-middle" class="">

        <accordion close-others="true">
            <div ng-dblclick="openDocInWrite(doc)" ng-repeat="doc in docList | orderBy: '-updated_at' | startFrom:starting | limitTo: pageSize | filter:search">


                <accordion-group ng-class="{'active': isopen}" id="{{doc._id}}" class="read-panel wrdz-list-panel" is-open="isopen">
                <accordion-heading>

                <div ng-hide="isopen" ng-click="switchDoc(doc, isopen)" class="read-list-item wrdz-list-item">
                    <div class="row">
                        
                        <div class="col-xs-4 text-right pull-right">

                            <div class="read-list-date">

                                {{moment(doc.published_at).format('MMMM Do, ha')}}
                            </div>

                        </div>
                        <div class="col-sm-8 col-xs-6">
                            <div ng-hide="isopen" class="read-list-title">
                                <span ng-show="doc.has_title">
                                    <strong>
                                        
                                        {{doc.title}}
                                    </strong>
                                </span>
                                <span ng-hide="doc.has_title">
                                    {{doc.sample | limitTo: 100}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12" ng-show="doc.has_title">
                            <div class="read-list-title">
                                
                                {{doc.sample | limitTo: 100}}
                            </div>

                        </div>
                    </div>

                </div>



                        </accordion-heading>
                      

                 
                

                        <div class="row">
                            <div class="col-xs-12">
                            <div id="write-pub-info" class="panel text-center panel-default">

                                <div ng-if="showDoc" class="wrdz-doc-controls" class="row">
                                    <div class="col-xs-4 text-left">

                                        <div class="read-list-date">

                                            {{moment(doc.published_at).format('MMMM Do, ha')}}
                                        </div>

                                    </div>
                                    <div class="col-xs-2 col-sm-offset-2">
                                             <button ng-click="openDocInWrite(showDoc)" class="wrdz-button btn btn-jo">
                                            <span class="icon ion-edit"></span>
                                        </button></div>
                                    <div class="col-xs-2"><button class="wrdz-button btn-jo btn" ng-click="openTopicModal()">
                                            <span class="ion-pricetags icon"></span>
                                        </button></div>
                                    <div class="col-xs-2">
                                        <button ng-if="!showDoc.is_archived" ng-click="archive(showDoc._id)" class="wrdz-button btn btn-jo">

                                            <span class="icon ion-ios7-filing-outline"></span>
                                        </button>
                                        <button ng-if="showDoc.is_archived" ng-click="archive(showDoc._id)" class="wrdz-button btn btn-jo">

                                            <span class="icon ion-reply"></span>
                                        </button></div>

                                                        

                                        
                                </div>


                                <div ng-if="doc.is_published" class="row hidden-xs">
                                    <div class="col-sm-3">

                                        <a ng-show="doc.pub_doc.is_visible && doc.pub_doc.is_anon" ui-sref="read.doc({docId: doc.pub_doc._id})">

                                            Anonymous
                                        </a>

                                        <a ng-show="doc.pub_doc.is_visible && !doc.pub_doc.is_anon" ui-sref="read.doc({docId: doc.pub_doc._id})">

                                            Public
                                        </a>

                                        <em ng-hide="doc.pub_doc.is_visible">Not Public</em>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="col-sm-4">
                                            <span class="pull-left icon ion-arrow-up-a"></span>
                                            <div class="pull-right">
                                                {{doc.pub_doc.up_votes}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="pull-left">
                                                <span class="icon ion-heart"></span>
                                            </div>
                                            <div class="pull-right">
                                                {{doc.pub_doc.hearts}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="pull-left">
                                                <span class="icon icon ion-eye"></span>
                                            </div>
                                            <div class="pull-right">
                                                {{doc.pub_doc.views}}
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-sm-3">
                                        <button ng-show="doc.pub_doc.is_visible" ng-click="switchVisible(doc); $event.stopPropagation()" class="btn btn-xs">
                                            Unpublish
                                        </button>
                                        <button ng-hide="doc.pub_doc.is_visible" ng-click="switchVisible(doc); $event.stopPropagation()" class="btn btn-xs">
                                            Re-publish
                                        </button>
 
                                                </div>
                                            </div>




                                        </div>

                                    </div>
                        </div>
                          <div ng-show="doc.has_title" class="text-center read-title">
                            {{doc.title}}
                            <hr>
                        </div>
                        <div ng-hide="doc.has_title" class="">
                            <br>
                        </div>
                        <div ng-bind-html="doc.body" class="read-body"></div>

                    </accordion-group>
                    <div ng-show="showDoc" class="fixed-read-right-bar">
                    </div>
                </div>
            </accordion>    

            

            <button class="btn pull-left" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
                <span class="icon ion-arrow-left-b"></span>
            </button>
            <button class="btn pull-right" ng-hide="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                <span class="icon ion-arrow-right-b"></span>
            </button>
        </div>

    </div>



    <div class="col-sm-2 pull-right hidden-xs text-right">
        <div class="fixed-right">
            <div class="row">
                
               <button type="button" ng-hide="!user.topics.length" class="btn btn-jo wrdz-left-btn" ng-click="topicCollapse = !topicCollapse; dateCollapsed = true;">
                        <span class="icon ion-pricetags"></span>
                </button>
            </div>
            
             <div ng-show="topicCollapse">
                
                <span topic-filter="" ng-click="addTopic(top)" ng-repeat="top in topicsModel">
                    <span ng-class="{active: active}" class="label label-primary tag-label">{{top.title}} </span>&nbsp;
                        
                </span>
            </div>
            
            

            
            
            <div collapse="topicCollapse" id="topicCollapse">
                             
                <span topic-filter="" ng-click="addTopic(top)" ng-repeat="top in topicOptions">
                <span ng-class="{active: active}" class="label label-primary tag-label">{{top.title}} </span>&nbsp;
                    
                </span>

            </div>
    
        </div>

    </div>


        
   <!--  <div class='visible-xs' id="fixed-bottom-bar">
        <div ng-click='editCollapsed = !editCollapsed; goToTop()' class="col-xs-12 bottom-caret text-center">
        <span ng-show='editCollapsed' class="icon ion-chevron-up"></span>
        <span ng-hide='editCollapsed' class="icon ion-chevron-down"></span>
        </div>
        

    </div> -->


</div>