<div class="container col-sm-4 col-sm-offset-4 text-center">

  
  <br>

  <br>
  <br>
  <div ng-if="emailFail">
    <h3>Something went wrong...</h3>
    <br>
    <a ng-click="forgotPasswordModal()" href="">Try sending another email.</a>
  </div>

  <div ng-if="!emailFail">
    
    <h1>Enter New Password</h1>
    <br>
    <form>
      
      <input class="form-control" required="" ng-model="newPass" placeholder="New Password" type="password">
      <button ng-click="resetPass(newPass)" class="btn btn-jo btn-sm">Submit</button>
    </form>
  </div>
</div>