<div class="modal-header">
    <h3>Reset Password</h3>
</div>

<div class="thin-modal text-left modal-body">

  <p>Just enter your email, and we shall send you a telegram.</p>  

<form name="passwordForm" role="form" ng-submit="submitEmail(email)" novalidate="">
  <br>

  <div class="form-group">
    <label for="">Email</label>
    <input name="email" type="email" class="form-control" required="" ng-model="email" id="">
    
  </div>


  <button type="submit" ng-disabled="passwordForm.$invalid" class="btn btn-jo">Submit</button>


</form>      


</div>