<div class="row">
        <div id="profile-body">
            <div class="small-11 small-centered column">
                <div id="profile-left" class="medium-6 column">
                    <div id="profile-name">
                        jorganisak 
                    </div>
                    <div id="profile-info">
                        <div id="profile-karma">Karma : 515325</div>
                        
                        <div>Keeping it real in nyc. Graduating from nyu. I do computers. <br>www.joeyorganisak.com</div>
                        <div>@jorganisak</div>

                    </div>
                </div>
                <div id="profile-right" class="medium-6 column">
                    <div class="row">
                        
                        <div class="small-3 text-center right profile-filter-nav active column">Recent</div>
                        <div class="small-3 left small-offset-1 right profile-filter-nav text-center column">Popular</div>
                        
                    </div>
                    
                <div class="profile-list-item">
                    <div class="row">
                        <div class="small-9 column profile-list-title">
                        When I went to  Camp 
                        </div>
                        <div class="small-3 column">
                            <div class="row read-list-arrow">
                                <span class="medium-2 column icon ion-arrow-up-a"></span>
                                <span class="medium-7 column text-right read-list-arrow-count">3938</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">  
                        <div class="profile-list-date small-6 column">
                            March 3, 2014
                        </div>      
                   
                        <div class="small-3 right column">
                        
                        <div class="row read-list-heart">
                            <span class="medium-2 column icon ion-heart"></span>
                            <span class="medium-7 column text-right read-list-heart-count">345</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="profile-list-item">
                    <div class="row">
                        <div class="small-9 column profile-list-title">
                        When I went to  Camp 
                        </div>
                        <div class="small-3 column">
                            <div class="row read-list-arrow">
                                <span class="medium-2 column icon ion-arrow-up-a"></span>
                                <span class="medium-7 column text-right read-list-arrow-count">3938</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">  
                        <div class="profile-list-date small-6 column">
                            March 3, 2014
                        </div>      
                   
                        <div class="small-3 right column">
                        
                        <div class="row read-list-heart">
                            <span class="medium-2 column icon ion-heart"></span>
                            <span class="medium-7 column text-right read-list-heart-count">345</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="profile-list-item">
                    <div class="row">
                        <div class="small-9 column profile-list-title">
                        When I went to  Camp 
                        </div>
                        <div class="small-3 column">
                            <div class="row read-list-arrow">
                                <span class="medium-2 column icon ion-arrow-up-a"></span>
                                <span class="medium-7 column text-right read-list-arrow-count">3938</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">  
                        <div class="profile-list-date small-6 column">
                            March 3, 2014
                        </div>      
                   
                        <div class="small-3 right column">
                        
                        <div class="row read-list-heart">
                            <span class="medium-2 column icon ion-heart"></span>
                            <span class="medium-7 column text-right read-list-heart-count">345</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="profile-list-item">
                    <div class="row">
                        <div class="small-9 column profile-list-title">
                        When I went to  Camp 
                        </div>
                        <div class="small-3 column">
                            <div class="row read-list-arrow">
                                <span class="medium-2 column icon ion-arrow-up-a"></span>
                                <span class="medium-7 column text-right read-list-arrow-count">3938</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">  
                        <div class="profile-list-date small-6 column">
                            March 3, 2014
                        </div>      
                   
                        <div class="small-3 right column">
                        
                        <div class="row read-list-heart">
                            <span class="medium-2 column icon ion-heart"></span>
                            <span class="medium-7 column text-right read-list-heart-count">345</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="profile-list-item">
                    <div class="row">
                        <div class="small-9 column profile-list-title">
                        When I went to  Camp 
                        </div>
                        <div class="small-3 column">
                            <div class="row read-list-arrow">
                                <span class="medium-2 column icon ion-arrow-up-a"></span>
                                <span class="medium-7 column text-right read-list-arrow-count">3938</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">  
                        <div class="profile-list-date small-6 column">
                            March 3, 2014
                        </div>      
                   
                        <div class="small-3 right column">
                        
                        <div class="row read-list-heart">
                            <span class="medium-2 column icon ion-heart"></span>
                            <span class="medium-7 column text-right read-list-heart-count">345</span>
                        </div>
                    </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>