<div class="text-center modal-header">
    <span ng-click="close()" class="pull-right icon ion-close"></span>
    <h3>Post</h3>
</div>

<div class="modal-body">


    <p>Let the world read and enjoy your wrdz.</p>
    <p>If they like them, they will repost, up-vote, and heart your work.</p>
    <p>If they don't, that's their loss.</p>
    <em>Remember, you can always post anonymously. :)</em>


</div>


<div class="modal-footer">
    <button ng-click="publish(false)" class="half-width btn-jo btn pull-left">Share As {{username}}</button>
    <button ng-click="publish(true)" class="half-width btn-jo btn">Share Anonymously</button>
</div>