<div id="read-list-body" class="row">
    <div class="col-sm-2 hidden-xs text-left">
        <div ng-show="user" class="fixed-left">
            <tabset vertical="true" type="navType" class="jo-tabset">
                <tab ng-repeat="tab in tabs" class="jo-tab" ui-sref="{{tab.state}}" ng-hide="tab.title === 'Following' && !user.following.length || tab.title === 'Hearts' && !user.meta._hearts.length || tab.title === 'Front' && !user.meta._hearts.length && !user.following.length" active="tab.active" heading="{{tab.title}}"></tab>
            </tabset>
        </div>
    </div>

    <div class="col-sm-8 col-xs-12">

            <div class="col-sm-8 col-sm-offset-2 col-xs-12" ng-show="$state.current.name === 'read.list.following'">
                <div class="text-center" ng-if="!user.following.length">
                    <h4>You're not following anyone on wrdz...yet!</h4>
                </div>
            </div>




        <div autoscroll="true" id="read-center" ui-view=""></div>


    </div>




    <div class="col-sm-2 hidden-xs text-right">
            <div id="profile-right" ng-show="$state.current.name === 'read.list.user'">
                <div class="row">
                        <h6>
                            {{author_info.username}}
                        </h6>
                </div>
                <div class="row">
                    
                    <div id="profile-twitter" ng-if="author_info.twitter && !author_info.twitter.hide">
                        <a target="_blank" href="http://twitter.com/{{author_info.twitter.username}}">               
                        <span class="icon ion-social-twitter"></span>
                        </a>
                    </div>
                </div>
                <div id="profile-followers" class="row">
                    
                        <div class="pull-right">
                        <span class="half-opacity">
                            Readers
                        </span>
                 
                        </div>

                        <br>
                        <div class="pull-right">
                            
                            
                            {{author_info.followers}}
                        </div>

                       
                </div>
            
                    <div class="row">
                        
                         
                        <div ng-click="follow()" ng-hide="following" id="profile-follow-button">
                            Read
                        </div>
                        <div ng-click="follow()" ng-show="following" id="profile-follow-button">
                            Unsubscribe
                        </div>
                    </div>
                <hr>

            </div>
        <div ng-if="readDoc" class="text-right" id="read-list-right">




            <div ng-show="readDoc.author.username" ng-hide="!showUser">
                
                <div id="read-doc-username">
                    <a ng-show="$state.current.name !== 'read.list.user'" ui-sref="read.list.user({userId: author_info._id})">{{author_info.username}}</a>


                </div>
                <div ng-show="$state.current.name !== 'read.list.user'">
                    
                    <div id="small-author-twitter" ng-if="author_info.twitter && !author_info.twitter.hide">
                        <a target="_blank" href="http://twitter.com/{{author_info.twitter.username}}">               <span class="icon ion-social-twitter"></span>
    </a>
                    </div>




                    <div>
                        
                        <div id="read-doc-followers">
                            <span class="half-opacity pull-right">
                                Readers
                            </span>
                            <br>
                            <span class="pull-right">
                                
                                {{author_info.followers}}
                            </span>
        
                           
                        </div>
                            <br>
                        <div ng-click="follow()" ng-hide="following" id="read-doc-follow-button">
                            Read
                        </div>
                        <div ng-click="follow()" ng-show="following" id="read-doc-follow-button">
                            Unsubscribe
                        </div>
                    </div>
                </div>
            </div>




        </div>

    

    </div>

</div>