<div ng-controller="ReadCtrl" class="row">
        
            
            <div id="read-doc-body">
                
                    <div ng-click="up_vote()" class="show-for-medium-up read-doc-arrow">
                        <span class="medium-6 column text-center icon ion-arrow-up-a"></span>
                        <span class="medium-6 column text-left left read-doc-arrow-count">{{readDoc.up_votes}}</span>
                    </div>
                     
                     <div ng-click="heart()" class="show-for-medium-up read-doc-heart">
                        <div ng-show=""></div>
                        <span class="medium-6 column text-center icon ion-heart"></span>
                        <span class="medium-6 column left text-left read-doc-heart-count">{{readDoc.hearts}}</span>
                         
                    </div>
                   
                   
                    
                
                <div class="medium-8 medium-offset-2 column read-doc-center">
                    <div class="text-center read-title">
                        {{readDoc.title}}
                    </div>
                   
                    <div class="row">
                        
                        <div class="left read-doc-author">
                            <a href="">{{readDoc.author}}</a>
                        </div>
                        <span class="right read-doc-section-label">            
                            <span class="section-label label">tech</span><span class="section-label label">advertising</span></span>    </div>
                    
                    
                    
                    <div ng-bind-html="readDoc.body" class="read-doc-content">

                    </div>
                     
                    <div class="row">
                        <div class="small-10 small-centered column" id="read-doc-social">
                            <span class="small-2 column text-center icon ion-social-twitter"></span>
                            <span class="icon ion-social-reddit small-2 column text-center"></span>
                            
                            <span class="icon ion-social-facebook small-2 column text-center"></span>
                            <span class="icon ion-social-googleplus-outline small-2 column text-center"></span>
                            <span class="icon ion-email small-2 column text-center left"></span>
                        </div>
                    </div>
                     
                </div>
                <div class="medium-2 column">
                     <div class="show-for-medium-up read-doc-message">
                        <span>Send Message</span>
                        <br>
                        <br>
                        <span class="icon ion-chatbox"></span>
                    </div>
                    
<!--
                    
                    <div class="show-for-medium-up text-right read-doc-write-message">
                        <h5>Message</h5>
                        <textarea name="" id="message-textarea" cols="30" rows="20"></textarea>
                        <button class='button success'>Send</button>
                    </div>
                    
-->
                </div>
            
            </div>
            



    </div>