<div id="read-list-body" class="row">
    <div class="col-sm-2 hidden-xs text-left">
        <div class="fixed-left">
            <div ui-sref="read.list.front({'skip': null, 'sort': 'score'})" id="read-doc-back">
            <span class="icon ion-arrow-return-left"></span>
        </div>
        </div>
    </div>

    <div class="col-sm-8 col-xs-12">
        <div id="read-doc-center" ng-controller="ReadDocCtrl">
            
       




            <div ng-show="doc.doc.has_title" class="text-center read-title">
                {{doc.doc.title}}
                <hr>
            </div>
            <div ng-hide="doc.doc.has_title" class="">
            <br>
            </div>
            <div ng-bind-html="doc.doc.body" class="read-body"></div>
 

            <div class="">
                <div class="hidden-xs fixed-read-doc-stats">
                        
                    <div>
                        
                        <div ng-class="active1" ng-click="up_vote()" class="read-doc-arrow">
                            <span class="icon ion-arrow-up-a"></span>
                        </div>   
                        <br>
                        
                        <div ng-class="active2" ng-click="heart()" class="read-doc-heart">
                            <span class="icon ion-heart"></span>
                        </div>                        
                        <br>
                        
                        <div twitter-button="" ng-click="open(readDoc._id)" class="read-doc-tweet">
                            <span class="icon ion-social-twitter"></span>
                        </div>
                    <!--  <div class="col-sm-3">
                        
                        <div ng-click="openPictureModal(readDoc._id)" >
                            <span  class="icon ion-camera"></span>
                        </div>
                    </div> -->
                            
                    </div>
       
                </div>
            </div>

                                <div class="visible-xs read-doc fixed-read-left-bar">
                        
                        <div>
                            <div class="row">
                                <div class="col-xs-4">
                                    
                                    <div ng-class="active1" ng-click="up_vote()" class="read-doc-arrow">
                                        <span class="icon ion-arrow-up-a"></span>
                                    </div>   
                                </div>
                                <div class="col-xs-4">
                                    
                                    <div ng-class="active2" ng-click="heart()" class="read-doc-heart">
                                        <span class="icon ion-heart"></span>
                                    </div>                        
                                </div>
                                <div class="col-xs-4">
                                    
                                    <div twitter-button="" ng-click="open(readDoc._id)" class="read-doc-tweet">
                                        <span class="icon ion-social-twitter"></span>
                                    </div>
                                </div>
                               
                                
                            </div>
                        
       
                        </div>
                    </div>
                  
        </div>

    </div>



    <div class="col-sm-2 hidden-xs text-right">
        <div class="text-right" id="read-list-right">



            <div ng-show="doc.author.username">
                
                <div id="read-doc-username">
                    <a ui-sref="read.list.user({userId: doc.author._id})">{{doc.author.username}}</a>


                </div>
                <div ng-show="$state.current.name !== 'read.list.user'">
                    
                    <div id="small-author-twitter" ng-if="doc.author.twitter && !doc.author.twitter.hide">
                        <a target="_blank" href="http://twitter.com/{{doc.author.twitter.username}}">               <span class="icon ion-social-twitter"></span>
    </a>
                    </div>




                    <div>
                        
                        <div id="read-doc-followers">
                            <span class="half-opacity pull-right">
                                <em>Readers</em>
                            </span>
                            <br>
                            <span class="pull-right">
                                
                                {{doc.author.followers}}
                            </span>
        
                           
                        </div>
                            <br>
                        <div ng-click="follow()" ng-hide="following" id="read-doc-follow-button">
                            Read
                        </div>
                        <div ng-click="follow()" ng-show="following" id="read-doc-follow-button">
                            Unsubscribe
                        </div>
                    </div>
                </div>
            </div>




        </div>

    

    </div>

</div>