<h4>Yeah you know the deal.  Get inside.</h4>
<p>other social stuff has to go here too...</p>
<p>{{message}}</p>
<form name="signInForm" ng-submit="signin(userSignIn)" novalidate="">


  <input type="text" class="medium-12 columns" required="" ng-model="userSignIn.username" placeholder="Username">
  <input type="password" required="" class="medium-12 columns" ng-model="userSignIn.password" placeholder="Password">
  <button type="submit" ng-disabled="signInForm.$invalid" class="button medium-6 success radius">Log In</button>

</form>