<div class="modal-header">
    <h3>Join Wrdz</h3>
</div>

<div class="modal-body thin-modal">
  <p>In a year, you'll wish you started today.</p>
<!-- 
<a ng-click='twitter()'>Twitter</a> -->

<form name="signUpForm" role="form" ng-submit="signup(userSignUp)" novalidate="">
  <br>
  {{message}}
  <div class="text-left form-group">
    
    <label for="username">Username</label>
  <input class="form-control" id="username" type="text" class="medium-6 columns" ng-model="userSignUp.username" required="" placeholder="">
  </div>
  <div class="text-left form-group">
    <label for="email">Email</label>
  <input class="form-control" id="email" type="email" class="medium-6 columns" ng-model="userSignUp.email" required="" placeholder="">
  </div>


  <div class="text-left form-group">
    <label for="password">Password</label>
    
  <input class="form-control" id="password" type="password" class="medium-6 columns" ng-model="userSignUp.password" required="" placeholder="">
  </div>
  

  <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-jo">Sign Up</button>


</form>      

</div>