<div class="modal-body thin-modal">
    <span ng-click="close()" class="pull-right icon ion-close"></span>

    <h3>Tags</h3>
<br>
    <jo-input-add name="Topic" on-submit="addTopic(title)"></jo-input-add>
   
        <br>
        <div class="">

        <div class="panel">
        <span ng-repeat="top in docTopics">
            <span class="label label-primary tag-label">{{top.title}} <span ng-click="removeTopic(top)" class="icon tag-remove-x ion-close"></span></span>&nbsp;
        </span>
            
        </div>
            
        </div>
        <br>
        <br>
        <div ng-show="user.topics.length !== 0" class="text-left panel">
            
            <em>Tags you use</em><br>
        <span ng-repeat="top in userTopics | orderBy: '-_docs.length' | limitTo: 20">
            <span class="label label-primary tag-label">{{top.title}} <span ng-click="addTopic(top.title)" class="icon tag-add-plus ion-plus"></span></span>&nbsp;
        </span>
        
    
        </div>
    <br>

</div>