<div ng-show="showDoc || showArchiveWarning" class="doc-unit write-unit">
  
  <div ng-show="showDoc">

    <div ng-click="archive()" class="archive-doc-btn">
      <span class="icon ion-close"></span>
    </div>

    <div ng-keydown="bodyChange(doc.body)" id="{{doc._id}}" medium-editor="" options="{{mediumEditorOptionsBody}}" ng-model="doc.body" class="write-content">

    </div>

    <div class="doc-unit-shelf write-unit-shelf">

      <div ng-class="{active: !shelfCollapsed}" ng-click="shelfCollapsed = !shelfCollapsed" class="write-shelf-btn btn">
        <span ng-show="!doc.is_published">
          Private 
        </span>
        <span ng-show="doc.is_published && doc.pub_doc.is_anon && doc.pub_doc.is_visible">
          Public: Annonymous 
        </span>
        <span ng-show="doc.is_published && !doc.pub_doc.is_anon && doc.pub_doc.is_visible">
          Public: {{user.username}} 
        </span>
        <span ng-show="doc.is_published && !doc.pub_doc.is_visible">
          Unpublished
        </span>

        <span ng-show="shelfCollapsed" class="icon ion-chevron-down"></span>
        <span ng-show="!shelfCollapsed" class="icon ion-chevron-up"></span>
      </div>

      <div ng-show="doc.is_published && shelfCollapsed" class="write-shelf-hearts">
        <span class="icon ion-heart"></span> {{doc.pub_doc.up_votes - 1}}
      </div>
      <div collapse="shelfCollapsed">
        <div class="write-unit-collapse">
          <div class="write-collapse-first text-center">

            <span ng-show="!doc.is_published">
              <button ng-disabled="!doc.body" ng-click="publish(false)" class="btn btn-jo write-unit-btn">
                Publish <br>as {{user.username}}
              </button>
              <button ng-disabled="!doc.body" ng-click="publish(true)" class="btn btn-jo write-unit-btn">
                Publish <br>Anonymously
              </button>
            </span>
            
            <span ng-show="doc.is_published">
              
              <span ng-show="doc.pub_doc.is_visible">
                <a class="no-underline" ui-sref="read.doc({docId: doc.pub_doc._id})">
                  <button class="btn btn-jo write-unit-btn">
                    
                  View
                  </button>
                </a>
                <button ng-click="switchVisible()" class="btn btn-jo write-unit-btn">
                  Unpublish
                </button>
              </span>             
              <span ng-show="!doc.pub_doc.is_visible">
                <button ng-disabled="!doc.body" ng-click="switchVisible()" class="btn btn-jo write-unit-btn">
                  Re-publish
                </button>
              </span>             

            </span>
      



            <button ng-click="tweet()" ng-disabled="!doc.body" ng-show="user.twitter.username" class="btn btn-jo write-unit-btn">
              <span class="icon ion-social-twitter"></span> &nbsp;Tweet
            </button>



          </div>
        </div> 
      </div>
    </div>
    
  </div>


  <div class="archive-warning-box" ng-show="showArchiveWarning">
      <span class="pull-left">
        
        Deleted 
      </span>

      <span ng-click="cancelArchive()" class="undo-archive-btn pull-right">
        | &nbsp;&nbsp;&nbsp;Undo &nbsp; <span class="icon ion-arrow-return-left"></span>
      </span>

  </div>



</div>