<div id="write-center-collapsed">
    <div class="write-unit-collapsed">
        <div class="write-unit-date">
            January 2, 2014
        </div>
        <div class="write-unit-collapsed-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lacus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.
            </p>

        </div>
    </div>
    <div class="write-unit-collapsed">
        <div class="write-unit-collapsed-content">
        <h3>
        Lorem ipsum dolor sit    
        </h3>
         <p>
             amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lacus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.
         </p>
        </div>
    </div>
    <div class="write-unit-collapsed">
        <div class="write-unit-date">
            January 12, 2014
        </div>
        <div class="write-unit-collapsed-content">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lacus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.
        </div>
    </div>
    <div class="write-unit-collapsed">
        <div class="write-unit-date">
            January 26, 2014
        </div>
        <div class="write-unit-collapsed-content">               
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lacus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.
        </div>
    </div>
    <div class="write-unit-collapsed">
        <div class="write-unit-date">
            December 3 2013
        </div>
        <div class="write-unit-collapsed-content">                       
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lacus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.
        </div>
    </div>
</div>