<div id="landing">
    <div class="container">
        <div id="landing-header">
            Wrdz
        </div>
        <div id="landing-copy">
            A simple online journal.
        </div>
        <div id="landing-button-group">
            <button ui-sref="twitter" class="btn landing-button">
                <span class="icon ion-social-twitter landing-social-icon"></span>

                <span class="landing-btn-copy">

                    Sign in with Twitter
                </span>
            </button>
            <button ui-sref="google" class="btn landing-button">
                <span class="icon ion-social-googleplus landing-social-icon"></span>
                <span class="landing-btn-copy">
                    Sign in with Google
                </span>
            </button>
            <!--<button class="btn landing-button">-->
                <!--<span class="icon ion-social-facebook landing-social-icon"></span>-->
                <!--<span class="landing-btn-copy">-->

                    <!--Sign in with Facebook-->
                <!--</span>-->
            <!--</button>-->
    
        </div>

    </div>
</div>

