<div ng-hide="user" class="text-center row">
  <br>
  <br>
  <div class="container">
    
    <div class="row">
      <div id='landing-copy' class="col-sm-6 text-left">
        <div class="col-sm-10 col-sm-offset-2">
          
          <h1>wrdz</h1>
          <br>
          <p>Ben Franklin did it, so did . </p>
          <p>It is a tool for unloading your daily thoughts.</p>
          <p>If you want, you can share these ideas with the world.</p>
          <p><a ui-sref="read.list.front">Read what people are writing now.</a></p>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="well">
            
            <p>Start Writing.</p>
            <form name="signUpForm" role='form' ng-submit="signup(userSignUp)" novalidate>
              {{message}}
              <div class="text-left form-group">
                
                <label for="username">Username</label>
              <input class='form-control' id='username' type="text" class="medium-6 columns" ng-model="userSignUp.username" required placeholder="">
              </div>
              <div class=" text-left form-group">
                <label for="email">Email</label>
              <input class='form-control' id='email' type="email" class="medium-6 columns" ng-model="userSignUp.email" required placeholder="">
              </div>


              <div class="text-left form-group">
                <label for="password">Password</label>
                
              <input class='form-control' id='password' type="password" class="medium-6 columns" ng-model="userSignUp.password" required placeholder="">
              </div>

              

              <button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-jo">Join Wrdz</button>


            </form>      
          </div>
          
        
        

        
            <a ng-click='launchLogIn()' class="pull-right">Log In</a>
          
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

</div>