<div ng-hide="user" class="text-center row">


  <div class='big-header'>What will you write?</div class='big-header'>  


  <div id="center-form-box">
    <div id="center-form-heading">
      
    </div>
    <div id="center-form">
      
      <div class="center-form-input">
        <input class='center-form-input' type="text">
      </div>
      <div class="center-form-input">
        <input class='center-form-input' type="text">
      </div>
      <div class="center-form-input">
        <input class='center-form-input' type="text">
      </div>

    </div>
  </div>

  <div class="small-centered text-center column medium-6">


    

    <h4 ui-sref="read">Read</h4>
    <h4 ui-sref="write">Write</h4>
    <h4 ui-sref="signin">Log In</h4>
    <h4 ui-sref="signup">Join Wrdz</h4>
  </div>
</div>