<div class="row "  ng-controller="MainCtrl">

  <div class="medium-10 columns" w-mousetrap="{'ctrl+k': newNote, 'command+k': newNote, 'ctrl+up': noteChangeUp, 'ctrl+down' : noteChangeDown, 'command+up': noteChangeUp, 'command+down' : noteChangeDown}" ng-controller="NotesCtrl">
    <div class="medium-3 left column left-panel">
      
          

        

      <div class="side-tools" >
        <div class="has-tip" data-tooltip title="Ctrl + K" ng-click="newNote()"  id='new-note-button'>
          <span id="new-note-text" >New</span>
        </div>
        <div class='right' id="note-change-box">
          <div data-tooltip ng-click='noteChangeUp()' title="Ctrl + Up" class="has-tip note-change up-button">
            <span class="icon ion-chevron-up arrow"></span>
          </div>
          <div data-tooltip ng-click='noteChangeDown()' title="Ctrl + Down" class="has-tip note-change down-button right">
            <span class="icon ion-chevron-down arrow"></span>
          </div>
        </div>
      </div>

      <form name="search" ng-submit="searchEnter()">
        
        <input class='search' ng-model="searchText" placeholder='Search'>

      </form>

      <perfect-scrollbar class="scroller" current-index="currentIndex" refresh-on-change="notes" wheel-propagation="true" wheel-speed="50">
      <div class="note-in-list {{status}}"  ng-repeat="note in notes | noteSorter | filter:searchText" note-in-list></div>
    </perfect-scrollbar>
  </div>

  <div class="medium-9 columns right"  ng-controller="NodesCtrl">
    <div>
<!--       <div class='top-center-bar'>

         <span class="levelMeter">
        <level-meter> </level-meter>
        </span>
      
      </div> -->
     
      <div class="node-surface">  
        <node  ng-repeat="node in nodes | orderBy:'position'" value="node" current-node="currentNode" focus-node="focusNode(position)" remove-node="removeNode(node)" add-node-below="addNodeBelow(node, newText)" update-note="updateNote()" nodes="nodes" current-note="currentNote"></node>
        
      <node-functions></node-functions>
      </div>
    </div>
<!--         {{nodes}}

  {{currentNode}} -->
</div>
</div>
<div class="medium-2 columns right " ng-controller="AuthCtrl">
  <div class='right-panel'>
    
     <div class='' id='titleWords'>
          <h3>wrdz</h3>
          <!-- <h6>Organize your thoughts.</h6> -->
          <br>
          <br>
          <br>
        </div>
        


      <div ng-show="!showForms">
    <!-- 
        <div id='user-email'>{{user.email}}</div> -->

        <div ng-hide='showFeedback'>
          
          <button ng-click="showFeedback = !showFeedback" id="feedback-button" class="small-12 columns  right radius tiny btn success">Feedback</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button ng-click="signOut()" id="sign-out-button" class="small-12 columns right radius tiny btn alert">Logout</button>
          <br>
          <br>
          <br>
          <br>
          <br>
<div ng-show="showThanks" data-alert style='background-color:#FFFFFF;text-align:center' class="alert-box success radius">
<h4>
  
Thanks for the feedback!
</h4>
</div>

          

        </div>


        <form ng-show='showFeedback' name='feedbackForm' style='text-align:center' ng-submit='sendFeedback(feedbackContent)'>
          <h6>Let me know how I can improve wrdz.  Did something go wrong? What would you add or remove? Please be specific and harsh :)</h6>
          <textarea ng-model='feedbackContent' name="" id="feedback-textarea" cols="25" rows="20"></textarea>
          <button ng-type='submit' class='btn radius success tiny small-5 left'>Submit</button>
          <button ng-click='showFeedback = !showFeedback' class='btn radius error tiny small-5 right'>No Thanks</button>
        </form>

      </div>

      <div ng-show="showForms">

     
      <div class="authForms">

        <form ng-hide='showLogin' name="signUpForm" ng-submit="signUp(userSignUp)" novalidate>

          <h4>Save your words!</h4>
          <br>

          <input  type="email" class="large-12 columns" ng-model="userSignUp.email" required placeholder="Email">
          <input type="password" class="large-12 columns" ng-model="userSignUp.password" required placeholder="Password">
          <button type="submit" ng-disabled="signUpForm.$invalid" class="button large-12 success radius">Sign Up</button>

        </form>      
        <form  ng-show='showLogin' name="signInForm" ng-submit="signIn(userSignIn)" novalidate>

          <h4>Welcome back!</h4>
          <br>

          <input type="email" class="large-12 columns" required ng-model="userSignIn.email" placeholder="Email">
          <input type="password" required class="large-12 columns" ng-model="userSignIn.password" placeholder="Password">
          <button ng-click="signIn(userSignIn)" ng-disabled="signInForm.$invalid" class="button large-12 success radius">Log In</button>

        </form>
          
          <br>
          <em>or</em>
          <br>
          <br>
          <br>

          <button ng-click="switchForm()" class="button radius secondary">{{secondButton}}</button>


        
      </div>

      </div>
  </div>



</div>



</div>

