<div ng-controller="MainCtrl">
  
  <div class='row' ng-include="'partials/top-nav.html'"></div>

  <div  ng-if="user" id='fixed-menu-shortcut' class="dropdown" ng-controller="MenuShortcutCtrl">
    <a class='dropdown-toggle'>
      <div id="menu-shortcut">W</div>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="choice in items">
        <a ui-sref-active="active" ui-sref="{{choice.state}}">{{choice.title}}</a>
      </li>
    </ul>
    
  </div>

  <div ng-if="$state.current.name !== 'landing'" ng-click='feedbackModal()' id="feedback-button">
    <div id="feedback-text">
      Feedback
    </div>
  </div>

  <div  class='row' autoscroll='true' ui-view></div>
  
</div>