    <div ng-show='user.following.length === 0' class='text-center'>
        <br>
        <br>
        <br>
        <p>You aren't following anyone on wrdz.</p>
        <p>You a rebel or something?</p>
        <p><a ui-sref='read.list.front'>Go follow some cool people.</a></p>
    </div>
  
  <span ng-repeat='user in user.following'>
    <span ui-sref='read.list.user({userId: user._id})' class="label label-primary following-tag-label">{{user.username}} &nbsp;<span ng-click="unfollow(user._id); $event.stopPropagation()" class="icon pull tag-remove-x ion-close"></span></span>&nbsp;


  </span>
