<div class="row" ng-controller="ProfileCtrl">
        <div id="me-list-body">
            <div class="me-list-top-nav small-12 column small-centered text-center">
                <div class="medium-2 me-list-nav-item small-4 column">All</div>
                <div class="medium-2 me-list-nav-item small-4 column">Published</div>
                <div class="medium-2 me-list-nav-item small-4 column">Private</div>
                <div class="medium-2 me-list-nav-item small-4 column">My  <span class="icon me-heart ion-heart"></span>s</div>
                <div class="medium-2 me-list-nav-item small-4 column">Archive</div>
                <div class="medium-2 me-list-nav-item small-4 column">Settings</div>
                
                
            </div>
            
            <div class="row">
                <div class="small-11 column small-centered">
                    <div class="medium-4 column">
                        <label for="">Search</label>
                        <input type="text">
                        Search By Date
                        (angular cal)
                        
                        <div id='write-box' class="row">
                            <div class="row">
                                <div class='medium-6 column' id="write-last-title">
                                    Tags
                                </div>
                                
                            </div>
  
                            
                            <div class="label active me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            <div class="label me-tag-label">Diary</div>
                            
                  
                        </div>
                    </div>
                    
                    <div class="medium-8 column">
                        <div class="me-doc-box">
                            <div class="me-doc">
                            <div class="row">
                                <div class="medium-9 me-doc-title column">
                                    A supposidly fun thing I'll never do again
                                </div>
                                <div class="medium-3 text-right column">
                                    Dec 12, 2014
                                </div>
                                
                            </div>
                            <div class="row text-center">
                                <div class="medium-3 column">
                                    Views: 145
                                </div>
                                <div class="medium-3 column">
                                    Hearts: 324
                                </div>
                                <div class="medium-3 column">
                                    Votes: 3843
                                </div>
                                <div class="medium-3 column">
                                    Archive
                                </div>
                                
                            </div>
                            </div>
                            <div class="me-doc">
                            <div class="row">
                                <div class="medium-9 me-doc-title column">
                                    A supposidly fun thing I'll never do again
                                </div>
                                <div class="medium-3 text-right column">
                                    Dec 12, 2014
                                </div>
                                
                            </div>
                            <div class="row text-center">
                                <div class="medium-3 column">
                                    Unpublished
                                </div>
                                <div class="medium-3 column">
                                </div>
                                <div class="medium-3 column">
                                </div>
                                <div class="medium-3 column">
                                    Archive
                                </div>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
        