  <div class="modal-header">
    <h3>Reset Password</h3>
</div>

<div class="modal-body">


  <p>No worries!</p>
  <p>Just enter the email you used to sign up for wrdz, and we'll send you an email to reset your password.</p>  

<form name="passwordForm" role='form' ng-submit="submitEmail(email)" novalidate>
  <br>

  <div class="form-group">
    <label for="">Email</label>
    <input name="email" type='email' class='form-control' required ng-model='email' id=""></input>
    
  </div>


  <button type="submit" ng-disabled="passwordForm.$invalid" class="btn btn-jo">Submit</button>


</form>      


</div>




  




