
<div class="modal-body">
      <span ng-click="close()" class="pull-right icon ion-close"></span>


    <h3>Share</h3>
<hr>
    <div ng-show='user'>



      <div id='twitter-share' >
        
      </div>
      <div ng-click='anon = !anon' class="row" id='anon-checkbox'>
        <div class='col-sm-6 col-sm-offset-2'>

          <em>Publish Anonymously on Wrdz</em>
        </div>
        <div class='col-sm-2'>
          <input class="form-control" ng-model='anon' type="checkbox">
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <button ng-click='publish(anon)' class="btn btn-jo">
            Publish (don't Tweet)
          </button>
        </div>
        <div class="col-sm-6">
          <button ng-click='publish(anon, true)' class="btn btn-jo">
            
            Publish and Tweet <span class="icon ion-social-twitter"></span> 
          </button>
        </div>
      </div>

    </div>







    <div ng-if='!user'>
      <a ng-hide='local_auth_form' target='_blank'  href="/auth/twitter">

        <div id="landing-twitter-signup">
         <span class="icon ion-social-twitter"></span> &nbsp; Sign in with Twitter 
        </div>

      </a>
    </div>


</div>


