<div class=" text-center modal-header">
    <span ng-click="close()" class="pull-right icon ion-close"></span>
    <h3>Post</h3>
</div>

<div class="modal-body">


    <p>Let the world of wrdz read and enjoy your writing.</p>
    <p>If they like it, they will repost, up-vote, and heart your work.</p>
    <em>Remember, you can always post anonymously. :)</em>


</div>


<div class="modal-footer">
    <button ng-click='publish(false)'class='half-width btn-jo btn pull-left btn-success '>Post As {{username}}</button>
    <button ng-click='publish(true)' class='half-width btn-jo btn btn-success '>Post Anonymously</button>
</div>      


