<div ng-controller="ReadCtrl">

  

    <div class="row">
        <div id='read-nav-container' class="small-4 column">
            <div id='read-sub-nav' >

                <div id='active-read-nav' class="text-center read-nav-item">
                    <div  class="read-nav-item-inside">
                        Front Page
                    </div>
                </div>
                <div class=" text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        New
                    </div>
                </div>
                <div class=" text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        Sections
                    </div>
                </div>
                <div class=" text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        Anonymous
                    </div>
                </div>
                
            </div>
        </div>
        <div id="read-list-body">
            <div class="small-8  column">

                <div ng-repeat="doc in docs | orderBy: '-score'">

                    <div ui-sref='read-doc({docId:doc._id})' class="read-list-item">
                        <div class="row">
                            <div class="medium-8 column">
                                <div class="read-list-title">
                                    {{doc.title}}
                                </div>


                            </div>
                            <div class="medium-2 right column">
                                <div class="row read-list-arrow">
                                    <span class="medium-1 column icon ion-arrow-up-a"></span>
                                    <span class='medium-6 column text-right left read-list-arrow-count'>{{doc.up_votes}}</span>
                                </div>
                            </div>
                            <div class="medium-2 right column">
                                
                                <div class="row read-list-heart">
                                    <span class="medium-1 column  icon ion-heart"></span>
                                    <span class="medium-6 column  left text-right read-list-heart-count">{{doc.hearts}}</span>
                                </div>
                     
                                
                            </div>
                        </div>
                        <div class="row read-list-bottom-row">
                            <div class="medium-8 column">
                                


                                <div class="read-list-author">
                                    <a href="">{{doc.author}}</a>
                                </div>

                            </div>
                            <div class="medium-2 right column">
                                
                                <div class="read-list-date">
                                    
                                    {{moment(doc.published_at).format('MMM Do')}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
