<div class="row" ng-controller="ReadCtrl">
        <div id='read-nav-container'>
            <div id='read-sub-nav' class="medium-12 column small-centered">
                
                <div id='active-read-nav' class="column medium-2 text-center read-nav-item">
                    <div  class="read-nav-item-inside">
                        Front Page
                    </div>
                </div>
                <div class="column medium-2 text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        New
                    </div>
                </div>
                <div class="column medium-2 text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        Sections
                    </div>
                </div>
                <div class="column medium-2 left text-center read-nav-item">
                    <div class="read-nav-item-inside">
                        Anonymous
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        
    <div class="row">
        <div id="read-list-body">
            <div class="small-10 small-centered column">
                
                <div class="read-list-item">
                    <div class="row">
                        <div class="medium-10 column">
                            <div class="read-list-title">
                                When I went to  Camp and this title just got longer but  not that long ago
                            </div>

                            <div class="read-list-author">
                                <a href="">jorganisak</a>
                             </div>
                        </div>
                        <div class="medium-2 column">
                            <div class="row read-list-arrow">
                                <span class="medium-5 column icon ion-arrow-up-a"></span>
                                <span class='medium-1 column text-right left read-list-arrow-count'>3938</span>
                            </div>
                             <div class="row read-list-heart">
                                <span class="medium-5 column  icon ion-heart"></span>
                                <span class="medium-1 column  left text-right read-list-heart-count">345</span>
                            </div>
                            
                        </div>
                    </div>
                </div>  <div class="read-list-item">
                    <div class="row">
                        <div class="medium-10 column">
                            <div class="read-list-title">
                                Why I'll Never Go Back to France
                            </div>

                            <div class="read-list-author">
                                <a href="">jorganisak</a>
                             </div>
                        </div>
                        <div class="medium-2 column">
                            <div class="row read-list-arrow">
                                <span class="medium-5 column icon ion-arrow-up-a"></span>
                                <span class='medium-1 column text-right left read-list-arrow-count'>3938</span>
                            </div>
                             <div class="row read-list-heart">
                                <span class="medium-5 column  icon ion-heart"></span>
                                <span class="medium-1 column  left text-right read-list-heart-count">345</span>
                            </div>
                            
                        </div>
                    </div>
                </div> <div class="read-list-item">
                    <div class="row">
                        <div class="medium-10 column">
                            <div class="read-list-title">
                                This is a different Title
                            </div>

                            <div class="read-list-author">
                                <a href="">jorganisak</a>   <span class="section-label label">Things from Youth</span>

                             </div>
                        </div>
                        <div class="medium-2 column">
                            <div class="row read-list-arrow">
                                <span class="medium-5 column icon ion-arrow-up-a"></span>
                                <span class='medium-1 column text-right left read-list-arrow-count'>3938</span>
                            </div>
                             <div class="row read-list-heart">
                                <span class="medium-5 column  icon ion-heart"></span>
                                <span class="medium-1 column  left text-right read-list-heart-count">345</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
               
                
                
            </div>
        </div>
    </div>
        