<div infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false" id="me-middle">
    <div ng-show="author" id="read-author">

        <div class="row">
            <div id="author-name" class="col-xs-8">
                {{author.username}}
                
            </div>    
            <div id="author-twitter" class="col-xs-2">
                <div ng-show="author.twitter.id">
                    <a target="_blank" href="https://twitter.com/account/redirect_by_id/{{author.twitter.id}}">
                        <span class="icon ion-social-twitter"></span>
                    </a>
                </div>
            </div>
            <div id="author-karma" class="col-xs-2">
                <span class="icon ion-heart"></span>&nbsp;
                {{author.karma}}
            </div>

        </div>
        <hr>

    </div>

    <div class="text-center" ng-if="docs.length === 0 && $state.current.name == 'read.user'">
        <h4>You haven't published any wrdz yet!</h4>
    </div>
    <div ng-controller="ReadDocCtrl" ng-repeat="doc in docs">
        <div class="read-top-row">
            <div class='read-author-row'>
                
                <div ng-show="doc.is_anon">
                    Annonymous
                </div>
                <a class="author-link" ui-sref="read.user({userId: doc.author._id})" target="_blank" ng-hide="doc.is_anon">
                    {{doc.author.username}}
                </a>
            </div>
            <div ng-click="up_vote()" ng-class="{active: active1}" class="read-heart-btn">
                <span class="icon ion-heart"></span>
                {{doc.up_votes - 1}}
            </div>


        </div>
        
        <div class="doc-unit read-unit">

            <div>

                <div ng-bind-html='doc.doc.body' class="write-content">

                </div>

            </div>

        </div>

    </div>
</div>
