
<div id='me-middle' class="">
<!--     <div class="row">
        
        <div class="btn-group col-sm-5 pull-right read-filter-button-group">

            <button type="button" class="btn btn-default" ng-model="readFilter" btn-radio="'Popularity'">Popular</button>
            <button type="button" class="btn btn-default" ng-model="readFilter" btn-radio="'Date'">New</button>

        </div> 
    </div>
    <br> -->
    <div class="row">
        
       <div ng-hide="tab.title === 'Front' && !user.meta._hearts.length && !user.following.length" class='visible-xs xs-drop-top'>
        <div class="col-xs-6 pull-right">
            <div class='dropdown'>
                
                <a class='btn btn-jo dropdown-toggle '>
                    <span class="icon ion-chevron-down"></span>
                </a>  
                <ul class="dropdown-menu pull-right">


            
                <li ng-repeat="tab in tabs" ui-sref="{{tab.state}}" ng-hide="tab.title === 'Following' && !user.following.length || tab.title === 'Hearts' && !user.meta._hearts.length || tab.title === 'Front' && !user.meta._hearts.length && !user.following.length"  active='tab.active'>
                    <a >
                         {{tab.title}}

                    </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    </div>
    <accordion close-others="true">
        <div ng-controller='ReadDocCtrl' ng-repeat="doc in docs | orderBy: '-score'">
            

            <accordion-group ng-class="{'active': isopen}" id="{{doc._id}}" class='read-panel' is-open="isopen">
                <accordion-heading >
                    
                    <div  ng-dblclick='openDoc(doc._id)' ng-click='switchDoc(doc, isopen)'   class="read-list-item">
                        <div class="row read-list-bottom-row">
                            <div class="col-xs-6 ">

                                <div  class="read-list-author">
                                    <span ng-hide="doc.is_anon" href="">
                                        <strong>
                                            
                                            {{doc.author.username}}
                                        </strong>
                                    </span>
                                    <span ng-show="doc.is_anon"><em>Anonymous</em></span>
                                </div>

                            </div>
                            <div class="col-xs-6 text-right pull-right ">

                                <div class="read-list-date">

                                    {{moment(doc.published_at).format('MMMM Do, ha')}}
                                </div>

                            </div>
                        </div>
                        <br>
                        <div ng-hide='isopen' class="row">
                            <div  class="col-sm-8 col-xs-6">
                                <div class="read-list-title">
                                    <span ng-show='doc.doc.has_title'>
                                        {{doc.doc.title}}
                                    </span>
                                    <span ng-hide='doc.doc.has_title'>
                                        {{doc.doc.sample | limitTo: 100}}
                                    </span>
                                </div>
                            </div>
                            <div class=" col-xs-3 col-sm-2 pull-left ">
                                <div class="row read-list-arrow">
                                    <span class=" col-xs-1 icon ion-arrow-up-a"></span>
                                    <span class='col-xs-1  text-right pull-right  read-list-arrow-count'>{{doc.up_votes}}</span>
                                </div>
                            </div>
                            <div class=" col-xs-3 col-sm-2 pull-right ">

                                <div class="row read-list-heart">
                                    <span class="col-xs-1    icon ion-heart"></span>
                                    <span class="  col-xs-1  text-right pull-right read-list-heart-count">{{doc.hearts}}</span>
                                </div>


                            </div>
                        </div>
                        
                    </div>



                </accordion-heading>

                    <div ng-show='doc.doc.has_title' class="text-center read-title">
                        {{doc.doc.title}}
                        <hr>
                    </div>
                    <div ng-hide='doc.doc.has_title' class="">
                        <br>
                    </div>
                <div ng-bind-html='doc.doc.body' class='read-body'></div>
 
            </accordion-group>

                 <div ng-show='readDoc._id === doc._id && isopen' class="">
                    <div class="hidden-xs fixed-read-left-bar">
                        
                        <div>
                            <div class="row">
                                <div class="col-sm-4">
                                    
                                    <div  ng-class='active1' ng-click="up_vote()"  class="read-doc-arrow ">
                                        <span  class="icon  ion-arrow-up-a"></span>
                                    </div>   
                                </div>
                                <div class="col-sm-4">
                                    
                                    <div ng-class='active2' ng-click="heart()" class="read-doc-heart">
                                        <span class=" icon ion-heart"></span>
                                    </div>                        
                                </div>
                                <div class="col-sm-4">
                                    
                                    <div twitter-button ng-click="open(readDoc._id)" class="read-doc-tweet">
                                        <span  class="icon ion-social-twitter"></span>
                                    </div>
                                </div>
                            
                            </div>
       
                        </div>
                    </div>
                        
            

                    <div class='visible-xs' id="fixed-bottom-bar">
                        <div class="col-xs-3 no-padding">
                            <div  ng-class='active1' ng-click="up_vote()"  class="read-doc-arrow">
                                    <span  class="icon  ion-arrow-up-a"></span>
                                </div>  
                        </div>

                        <div class="col-xs-3  no-padding">
                            <div ng-class='active2' ng-click="heart()" class="read-doc-heart">
                                    <span class=" icon ion-heart"></span>
                                </div> 
                        </div>
                        <div class="col-xs-3  no-padding">
                           <div twitter-button ng-click="open(readDoc._id)" class="read-doc-tweet">
                                    <span  class="icon ion-social-twitter"></span>
                                </div>
                        </div>

                        
                    </div>
                </div>



            

        </div>
    </accordion>
    <div ng-show='$stateParams.skip' ng-click='loadPrev(); goToTop()' class="page-arrow pull-left text-center">    
        <span class="icon ion-arrow-left-b"></span>
    </div>

    <div ng-show='docs.length === 10' ng-click='loadNext(); goToTop()' class="page-arrow pull-right text-center">    
        <span class="icon ion-arrow-right-b"></span>
    </div>


   

</div>
