<div id="read-list-body" class='row'>
    <div class="col-sm-2 hidden-xs text-left">
        <div class='fixed-left'>
            <tabset vertical='true' type="navType" class='jo-tabset'>
                <tab ng-repeat="tab in tabs" class='jo-tab' ui-sref="{{tab.state}}" ng-hide="tab.title === 'Following' && !user" active='tab.active' heading='{{tab.title}}'></tab>
            </tabset>
        </div>
    </div>

    <div class="col-sm-8 col-xs-12">

            <div class='col-sm-8 col-sm-offset-2 col-xs-12' ng-show="$state.current.name === 'read.list.following'" >
                <div class='text-center' ng-if='!user.following.length'>
                    <h4>You're not following anyone on wrdz...yet!</h4>
                </div>
            </div>


        <div autoscroll='false' ui-view></div>


    </div>





    <div  class="col-sm-2 hidden-xs text-right">
        <div  id="read-list-right">
            <div ng-show="$state.current.name === 'read.list.user'">
                
                <div  id="read-doc-username">
                    <a>{{author_info.username}}</a>
                </div>

                <div >
                    
                    <div id="read-doc-followers">
                        <span class="half-opacity pull-left">
                            <em>Followers: </em>
                        </span>
                        <span class="pull-right">
                            
                            {{author_info.followers}}
                        </span>
                        <br>
                        <span class="half-opacity pull-left">
                            <em>Karma:</em>
                        </span>
                        <span class="pull-right">
                            
                        {{author_info.karma}}
                        </span>
                    </div>
                    <br>
                    <br>
                    <div id="read-doc-bio">
                        {{author_info.bio}}
                    </div>
                    <div ng-click='follow()' ng-hide='following' id="read-doc-follow-button">
                        Follow
                    </div>
                    <div ng-click='follow()' ng-show='following' id="read-doc-follow-button">
                        Unfollow
                    </div>
                </div>
            </div>



            <div ng-controller='TopicsListCtrl' ng-show="$state.current.name === 'read.list.topics'" >
                <input type="text" placeholder='Search' class="form-control" ng-model='search.title'>
                
                <div ng-repeat='topic in data | startFrom:currentPage*pageSize | limitTo: pageSize | filter:search' >
                    <div ui-sref-active='active' ui-sref='read.list.topics({topicId:topic._id})' class='read-list-right-item' >
                        
                        {{topic.title}}
                    </div>
                </div>

                <button class='btn  btn-sm pull-left' ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
                        <span class="icon ion-arrow-left-b"></span>
                </button>
                <button class='btn btn-sm  pull-right' ng-hide="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    <span class="icon ion-arrow-right-b"></span>
                </button>
            </div>



        </div>

    

    </div>

    <div class='visible-xs' id="fixed-bottom-bar">
        <tabset class='jo-tabset text-center'>
                <tab ng-repeat="tab in tabs" justified='true' class='jo-tab no-padding col-xs-4' ui-sref="{{tab.state}}" ng-hide="tab.title === 'Following' && !user" active='tab.active' heading='{{tab.title}}'></tab>
            </tabset>
      
    </div>
    <div class='visible-xs' id="fixed-top-bar">
        <div class="col-xs-8 pull-right">
            
                
                <a ng-click='left_xs_collapsed = !left_xs_collapsed' ng-show="$state.current.name === 'read.list.user' || $state.current.name === 'read.list.topics'"  class='btn btn-jo '>
                    <span class="icon ion-chevron-down"></span>
                </a>  

                <div collapse='left_xs_collapsed'>
                     <div  ng-show="$state.current.name === 'read.list.user'">
                
                <div  id="read-doc-username">
                    <a>{{author_info.username}}</a>
                </div>

                <div >
                    
                    <div id="read-doc-followers">
                        <span class="half-opacity pull-left">
                            <em>Followers: </em>
                        </span>
                        <span class="pull-right">
                            
                            {{author_info.followers}}
                        </span>
                        <br>
                        <span class="half-opacity pull-left">
                            <em>Karma:</em>
                        </span>
                        <span class="pull-right">
                            
                        {{author_info.karma}}
                        </span>
                    </div>
                    <br>
                    <br>
                    <div id="read-doc-bio">
                        {{author_info.bio}}
                    </div>
                    <div ng-click='follow()' ng-hide='following' id="read-doc-follow-button">
                        Follow
                    </div>
                    <div ng-click='follow()' ng-show='following' id="read-doc-follow-button">
                        Unfollow
                    </div>
                </div>
            </div>



            <div ng-controller='TopicsListCtrl' ng-show="$state.current.name === 'read.list.topics'" >
                <input type="text" placeholder='Search' class="form-control" ng-model='search.title'>
                
                <div ng-repeat='topic in data | startFrom:currentPage*pageSize | limitTo: pageSize | filter:search' >
                    <div ui-sref-active='active' ui-sref='read.list.topics({topicId:topic._id})' class='read-list-right-item' >
                        
                        {{topic.title}}
                    </div>
                </div>

                <button class='btn  btn-sm pull-left' ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
                        <span class="icon ion-arrow-left-b"></span>
                </button>
                <button class='btn btn-sm  pull-right' ng-hide="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    <span class="icon ion-arrow-right-b"></span>
                </button>
            </div>
                </div>
               


                


        </div>
    </div>
</div>

