<div id="read-list-body" class='row'>
    <div class="col-sm-2 text-left">
        <div id="read-list-left">
            <tabset vertical='true' type="navType" class='jo-tabset'>
                <tab ng-repeat="tab in tabs" class='jo-tab' ui-sref="{{tab.state}}" ui-sref-active="active" active='tab.active' heading='{{tab.title}}'></tab>
            </tabset>
        </div>
    </div>

    <div class="col-sm-8 col-xs-10">

        <div ui-view></div>


    </div>





    <div class="col-sm-2 text-right">
        <div id="read-list-right">
            <div ng-show="$state.current.name === 'read.list.topics'" >
                <div ui-sref-active='active' ui-sref='read.list.topics({topicId:topic._id})'class='read-list-right-item' ng-repeat='topic in topTopics'>
                    
                    {{topic.title}}
                </div>
            </div>
            <div ng-show="$state.current.name === 'read.list.following'" >
                <button class="btn btn-jo btn-sm" ui-sref='read.list.following({userId:null})'>All</button>
                <div ui-sref-active='active' ui-sref='read.list.following({userId:user._id})' class='read-list-right-item' ng-repeat='user in user.following'>
                    
                {{user.username}}
                </div>
            </div>

        </div>

    

    </div>

</div>
