<!--   <div class="modal-header">
    <h3>Log In</h3>
</div>
 -->
<div class="modal-body thin-modal">

   
<h4>Welcome back.</h4>

<div id='landing-form'>
  <div class="">
        
    <a ng-hide='local_auth_form' target='_blank' href="/auth/twitter">
      <br>

      <div id="landing-twitter-signup">
       <span class="icon ion-social-twitter"></span> &nbsp; Sign in with Twitter 
      </div>

    </a>

    <div ng-show='local_auth_form'>
      
      <form name="signInForm" role='form' ng-submit="signin(userSignIn)" novalidate>
        <p>
          
          {{message}}
        </p>

        <div class="text-left form-group">
          
          <label for="username">Username</label>
          <input class='form-control' type="text" class="medium-6 columns" ng-model="userSignIn.username" required >
        </div>

        <div class="text-left form-group">
          <label for="password">Password</label>
          <input class='form-control' type="password" class="medium-6 columns" ng-model="userSignIn.password" required >
        </div>
        

        <button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-jo">Log In</button>
      <br>
      <br>
        <div class="text-right">
          
          <a ng-click='close(); forgotPasswordModal()' href="">Forgot your password?</a>
        </div> 

      </form>          
    </div>

  </div>
  <br>
  <a ng-show='local_auth_form' ng-click='local_auth_form = !local_auth_form' class='pull-left' href="">Cancel</a>
  <a ng-hide='local_auth_form' ng-click='local_auth_form = !local_auth_form' class="pull-right">I prefer email.</a>
  <br>
  
</div>




</div>




  




