<!--   <div class="modal-header">
    <h3>Log In</h3>
</div>
 -->
<div class="modal-body thin-modal">

   
<h4>Welcome back.</h4>

<p>{{message}}</p>


<form name="signInForm" role='form' ng-submit="signin(userSignIn)" novalidate>
  <br>
  {{message}}



  <a href="/auth/twitter">Sign in with twitter.</a>

  <div class="text-left form-group">
    
    <label for="username">Username</label>
    <input class='form-control' type="text" class="medium-6 columns" ng-model="userSignIn.username" required placeholder="Username">
  </div>

  <div class="text-left form-group">
    <label for="password">Password</label>
    <input class='form-control' type="password" class="medium-6 columns" ng-model="userSignIn.password" required placeholder="Password">
  </div>
  

  <button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-jo">Log In</button>
<br>
<br>
  <div class="text-right">
    
    <a ng-click='close(); forgotPasswordModal()' href="">Forgot your password?</a>
  </div> 

</form>      


</div>




  




