<div id='talk-body' class="row">
            <div class="col-sm-12 column ">
                
                <div id='talk-inbox' class="col-sm-6 column">
<!--
                    <h3>Inbox</h3>
-->
                    
                    <div class=' '>
                        <div class='talk-inbox-block'>
                            
                            <div class="col-sm-1 column inbox-unread"><span class="icon ion-record"></span></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                            
                                </div>
                            </div>
                            
                            
                        </div>
                            
                        <div id='active-inbox-block' class='talk-inbox-block'>
                            
                            <div class="col-sm-1 column inbox-unread"><span class="icon ion-record"></span></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                Annyonomous    </div>
                                <div class="inbox-re ">
                                    A story I told from real life
                            
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class='talk-inbox-block'>
                            
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        <div class='talk-inbox-block'>
                            <div class="col-sm-1 column inbox-unread"></div>
                            <div class="col-sm-10 text-left column">
                                <div class="inbox-from ">
                                    David Foster Wallace
                                </div>
                                <div class="inbox-re ">
                                    A Supposidly Fun thing
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-5 column">
<!--
                    <h3>Messages</h3>
-->
                    
                    <div class="talk-message-container">

                        <div class="message-content">
                            <div class="text-left left other-message col-sm-10 column">
                                Test
                            </div>
                            <div class="text-right right message col-sm-10 column">
                                Test
                            </div>
                            <div class="text-justify right message col-sm-10 column">
                                More aof a real test than the last one to see how things actually go when you're typing a long message and to see if it can be real time without any body sending anything
                            </div>
                            <div class="text-justify left other-message col-sm-10 column">
                                But see here is a different point of view and there will be other stuff to say along these lines
                            </div>

                        <div class="message-headers col-sm-6 column">Author</div>
                        <div class="message-headers text-right col-sm-6 column">Anonymous</div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-11  column">
                                
                            <textarea name="" id="talk-textarea" cols="30" rows="10"></textarea>
                                <button id='talk-send-button' class="btn success">Send</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        
        </div>