<div ng-controller="NavbarCtrl" class='' id="header">

    <!-- 
        User Nav
     -->

    <div  ng-if="user" id='top-nav' class="row">
        <div id="top-nav-container">

            <div class="col-sm-2 col-xs-6">
                
                <div ng-hide="$state.includes('write') || $state.includes('mywrdz')" ui-sref="write" id='top-nav-write' class="top-nav-item col-xs-4  col-sm-offset-1 col-sm-4 ">
                    <span class="top-nav-title">
                        write
                    </span>
                </div>

                <div ng-hide="$state.includes('read')" ui-sref="read.list.front" id='top-nav-read' class="top-nav-item  col-xs-4 col-sm-4 col-sm-offset-1">
                    <span class="top-nav-title">read</span>
            </div>
            </div>



<!--             <div id='wrdz-headline' class="hidden-sm hidden-xs col-md-4 ">
                             <span ui-sref='write' class="top-nav-title">wrdz</span>
            </div> -->
            <div class="col-sm-1 col-sm-offset-9  col-xs-6">


                <div ng-class="{activeTopNav: $state.includes('me')}"  ui-sref="me.profile" id='top-nav-me' class="hidden-xs top-nav-item ">
                    
                    <span class="ion ion-gear-a"></span> 
                </div>
            </div>
      
                

            
        </div>

    </div>


    <!-- 
        No User Nav
     -->
    
    <div ng-if="!user " id='top-nav' class="row">
        <div id="top-nav-container">

            <div class="col-sm-3">
                
                <div ng-click='launchSignUp()' id='top-nav-write' class="top-nav-item col-xs-4 col-sm-4  ">
                    <span class="top-nav-title">
                        
                        Write
                    </span>
                </div>

            <div ng-class="{activeTopNav: $state.includes('read')}" ui-sref="read.list.front" id='top-nav-read' class="top-nav-item  col-xs-4 col-sm-4">
                <span class="top-nav-title">Read</span>
            </div>
            </div>




            <div class="col-sm-3 pull-right">
                
                <div ng-click='launchSignUp()' id='top-nav-signup' class="top-nav-item  pull-right col-xs-4 col-sm-4  ">
                    Join wrdz
                </div>
                <div ng-click='launchLogIn()' id='top-nav-signin'  class="top-nav-item  col-xs-4  pull-right col-sm-4  ">
                    Log in
                </div>
            </div>
    </div>
</div>

</div>