<div id="write-body" ng-cloak class='' ng-controller='WriteCtrl'>

    <div ng-cloak class="row">




    <div class="text-center col-sm-8 col-sm-offset-2 col-xs-12 pull-left column ">

            
   
            <div ng-click='newDoc()' id='new-doc-button'>
                <span class="icon ion-plus-round"></span>
            </div>


            <div ng-repeat="doc in docs">
                <div id="write-center">
                    
                        
                        <div ng-keydown='bodyChange(doc.body, doc._id)' medium-editor options="{{mediumEditorOptionsBody}}" ng-model='doc.body'  class='' id="write-content">

                        </div>
                </div>
            </div>
    




    </div>

    <div class="col-sm-2 hidden-xs pull-right ">
        <div ng-show='user' id="write-fixed-right" class='fixed-right'>




        </div>


    </div>


    </div>


</div>