<div id="write-center-expanded">
    <div class="write-unit-expanded">
        <div class="write-unit-date">
            December 3 2013
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar rhoncus odio et viverra. Aliquam gravida ut risus a pharetra. Fusce sollicitudin auctor diam a commodo. Ut dapibus iaculis mauris, vel consectetur arcu scelerisque a. Maecenas et volutpat tellus, vel ornare neque. Sed aliquam, nulla eu pulvinar laoreet, lascus nunc interdum augue, sed interdum tellus leo ut arcu. Duis dignissim vulputate sem sit amet congue. Fusce eget varius ipsum. Curabitur at consequat nibh. Nam euismod posuere tristique.

Donec lorem elit, feugiat sit amet erat vel, condimentum porttitor est. Vivamus volutpat eleifend gravida. In hac habitasse platea dictumst. Aenean euismod dignissim tellus id accumsan. Duis eleifend sem lorem, eu congue tellus porttitor non. Curabitur fringilla, lectus et facilisis elementum, elit enim fringilla odio, eu dapibus purus mi sed nunc. Donec scelerisque nisl at dui sagittis, sit amet consequat diam bibendum. Proin porta eu purus quis hendrerit. Vivamus adipiscing malesuada lorem at pulvinar.
        </div>
        <div class="write-unit-expanded">
                        Pellentesque vitae tristique libero, hendrerit fermentum lacus. Mauris faucibus odio orci, et pharetra eros lobortis nec. Maecenas at rutrum sem. Aliquam dignissim felis velit, nec euismod augue viverra at. Nam est tellus, venenatis in condimentum adipiscing, gravida et tortor. Proin laoreet, felis sed fringilla pretium, metus odio condimentum est, ac tempus tellus metus ut massa. Duis at ligula semper, varius mauris eget, luctus augue. Phasellus eu mauris at augue posuere tempus. Cras orci lorem, porta id lorem et, egestas dignissim diam. Ut eleifend, risus et blandit molestie, nunc risus tincidunt nisi, non egestas magna sem non nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque neque risus, molestie ac sagittis eget, laoreet et justo. Curabitur tincidunt lacinia nunc.

Cras dui leo, facilisis et convallis at, tincidunt vel sapien. Maecenas ornare orci id neque ultrices luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec dignissim risus quis odio tincidunt, id semper ligula porta. Duis libero tellus, sodales feugiat dolor eu, molestie gravida arcu. Praesent consequat dictum arcu, id lacinia quam. Nam lobortis purus enim, vehicula hendrerit risus tempus euismod. Donec tincidunt, sem id suscipit fringilla, nulla velit mollis tortor, id mollis mi sapien ut lacus. In suscipit vehicula ipsum, in luctus orci fringilla nec. Vivamus dictum sapien non dui vestibulum congue. Vestibulum ut consequat magna, vel mollis felis.
    </div>
    <div class="write-unit-expanded">
        <div class="write-unit-date">
            December 1, 2013
        </div>
        Cras dui leo, facilisis et convallis at, tincidunt vel sapien. Maecenas ornare orci id neque ultrices luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
    </div>
    <div class="write-unit-expanded">
        Ut eleifend, risus et blandit molestie, nunc risus tincidunt nisi, non egestas magna sem non nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque neque risus, molestie ac sagittis eget, laoreet et justo. Curabitur tincidunt lacinia nunc
    </div>
    <div class="write-unit-expanded">

    </div>
</div>