/* Space out content a bit */

#write-title {
  padding: 10px;
  cursor: text;
  height: 100px;
  border: solid 1px gray;
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-size: 2em;
  text-align: center;
}

#write-body {
  padding: 10px;
  cursor: text;
  height: 600px;
  border: solid 1px gray;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  font-size: 1em;
  text-align: justify;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}