::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #d3f3ff;
  background-color: #c3cfe4;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

body {
  background-color: rgba(237,246,255,0.11);
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-height: 750px) {
  body {
    height: 700px;
  }
}

.row {
  max-width: 100em;
}

.left-panel {
  text-align: center;
  padding-left: 0;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20%;
  max-width: 270px;
}

.right-panel {
  text-align: right;
  padding-left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  width: 13%;
  max-width: 221px;
}

.search {
  width: 90%;
  height: 40px;
  font-family: 'Open Sans',sans-serif;
  padding: 5px;
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: 13px;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}

.node-functions {
  position: absolute;
  left: 102%;
  width: 30%;
  z-index: 100;
}

.animate-enter,
.animate-leave {
  transition: all 1.4s linear;
}

.animate-enter.animate-enter-active,
.animate-leave {
  color: #f00;
  opactiy: 1;
}

.animate-leave.animate-leave-exit,
.animate-enter {
  opactiy: 0;
}

.note-node:hover {
  cursor: text;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto',sans-serif;
}

#titleWordsFixed {
  bottom: 1%;
  right: -91%;
  position: fixed;
}

#titleWords {
  text-align: right;
}

.authForms {
  margin-top: 40%;
  text-align: center;
}

.has-tip {
  border: none;
}

.has-tip:hover {
  border: none;
  color: #000;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}

.level1 {
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 1.7em;
  line-height: 1.2em;
}

.level2 {
  font-family: 'Open Sans',sans-serif;
  padding-left: 1em;
  font-size: 1.4em;
  font-weight: 300;
}

.level3 {
  font-family: 'PT Serif',serif;
  padding-left: 2em;
  font-size: 1.19em;
  line-height: 1.45em;
  font-weight: 300;
}

.level4 {
  font-family: 'PT Serif',serif;
  padding-left: 4em;
  font-size: 1em;
  font-style: italic;
}

.top-center-bar {
  padding: 17px 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.levelMeter {
  height: .71em;
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  border-radius: 12px;
  width: 150px;
  box-shadow: inset 1px 0 6px -2px #000;
  position: absolute;
  margin-top: 5px;
  margin-left: 15px;
}

.levelDot {
  width: 8%;
  height: 100%;
  margin-left: 50%;
  border-radius: 10px;
  box-shadow: inset -2px -2px 11px -2px #000;
}

.icon.ion-arrow-left-b,
.icon.ion-arrow-right-b {
  font-size: 1.3em;
}

.level-arrow-buttons {
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.level-arrow-buttons:hover {
  opacity: .9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

.level-arrow-buttons:mousedown {
  opactiy: 1;
}

.node-surface {
  box-shadow: -1px 2px 15px -5px #b0dfee;
  padding: 1.8em;
  background-color: rgba(255,255,255,0.26);
  color: #3a3453;
  margin-top: -2em;
  margin-right: auto;
  padding-top: 6em;
  margin-left: auto;
  position: relative;
  max-width: 768px;
}

.note-node {
  margin-bottom: .15em;
}

.note-node:focus {
  outline: none;
}

.archivedText {
  padding: .4em;
}

#archiveIcon {
  border-left: solid 1px #2f4f4f;
  padding: 0 1em 0 1.1em;
  margin-left: 1em;
}

.note-in-list {
  font-family: 'Roboto Condensed',sans-serif;
  box-shadow: 1px 1px 8px -4px #81b8fc;
  cursor: pointer;
  min-height: 3em;
}

.note-in-list:hover {
  transition: all 0.1s linear;
  box-shadow: 3px 0 3px -1px #002f69;
}

.current-note-in-list {
  box-shadow: -5px 0 3px -1px #2900ff;
  cursor: pointer;
}

.current-note-in-list:hover {
  transition: all 0.1s linear;
  box-shadow: -5px 0 3px -1px #2900ff;
}

.title-stamp {
  font-size: .97em;
  color: #575664;
  line-height: 1.4em;
  font-family: 'Roboto Condensed',sans-serif;
  letter-spacing: .01rem;
  font-weight: 200;
}

.note-in-list-info {
  padding: .4em;
  padding-left: .5em;
  width: 72%;
}

.updated-stamp {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: .8em;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  padding-left: .1rem;
}

.note-in-list-buttons {
  width: 28%;
  margin-top: -3.07rem;
  text-align: center;
  height: 3.1rem;
}

.pin-archive-buttons,
.archive-button {
  height: 100%;
  width: 50%;
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  padding-top: .8rem;
}

.pinnedNote {
  color: #00f;
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.pin-button {
  font-size: 1.9em;
  font-weight: 900;
  transition: all 0.25s ease;
}

.pin-button:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: #00f;
}

.archive-button {
  font-size: 1.6rem;
  transition: all 0.25s ease;
}

.archive-button:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  color: #f00;
}

.scroller {
  text-align: left;
  white-space: normal;
  height: 35em;
  width: 104%;
  padding-left: 2%;
  padding-right: 6%;
  overflow-y: hidden;
  position: relative;
}

@media (max-height: 900px) {
  .scroller {
    height: 725px;
  }
}

@media (max-height: 850px) {
  .scroller {
    height: 675px;
  }
}

@media (max-height: 750px) {
  .scroller {
    height: 575px;
  }
}

@media (max-height: 650px) {
  .scroller {
    height: 475px;
  }
}

@media (max-height: 550px) {
  .scroller {
    height: 375px;
  }
}

@media (max-height: 450px) {
  .scroller {
    height: 275px;
  }
}

@media (max-height: 350px) {
  .scroller {
    height: 175px;
  }
}

@media (max-height: 800px) {
  .scroller {
    height: 625px;
  }
}

@media (max-height: 700px) {
  .scroller {
    height: 525px;
  }
}

@media (max-height: 600px) {
  .scroller {
    height: 425px;
  }
}

@media (max-height: 500px) {
  .scroller {
    height: 325px;
  }
}

@media (max-height: 525px) {
  .scroller {
    height: 350px;
  }
}

@media (max-height: 575px) {
  .scroller {
    height: 400px;
  }
}

@media (max-height: 475px) {
  .scroller {
    height: 300px;
  }
}

@media (max-height: 400px) {
  .scroller {
    height: 225px;
  }
}

.ps-container .ps-scrollbar-y {
  width: 6px;
}

.side-tools {
  height: 3em;
  margin: .1em 0 1em .8em;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  border-color: #e2e5ff;
  width: 90%;
}

#new-note-button {
  width: 50%;
  text-align: center;
  height: 100%;
  box-shadow: -2px 1px 2px -2px #000068;
  cursor: pointer;
}

#new-note-button:hover {
  transition: all 0.15s linear;
  box-shadow: -1px 1px 4px -1px #2f4f4f;
  border: solid 1px #e6e4ff;
}

#new-note-text {
  height: 1.3rem;
  top: 28.33%;
  font-size: 1.3rem;
  font-family: 'Roboto',sans-serif;
  position: relative;
  font-weight: 500;
}

#note-change-box {
  width: 50%;
  height: 100%;
  margin-top: -2.88rem;
}

.note-change {
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  box-shadow: -2px 1px 2px -2px #000068;
}

.note-change:hover {
  transition: all 0.15s linear;
  box-shadow: -1px 1px 4px -1px #2f4f4f;
  border: solid 1px #e6e4ff;
}

.down-button {
  margin-top: -2.876rem;
}

.arrow {
  font-size: 1rem;
  height: 1rem;
  margin-top: 1rem;
}

#user-email {
  text-align: center;
  margin-bottom: 1em;
  font-family: Arial;
  color: #2f4f4f;
}

#sign-out-button {
  font-size: 1em;
  font-family: 'Oswald',sans-serif;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  width: 100px;
}

#sign-out-button:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}

#feedback-button {
  font-size: 1em;
  font-family: 'Oswald',sans-serif;
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  width: 100px;
}

#feedback-button:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}

#feedback-textarea {
  resize: none;
  height: 100%;
  margin-left: 9px;
  width: 95%;
}