<div id="read-doc-body">

    <div id="read-doc-left-fixed">
        
        <div ng-click='up_vote()' class="read-doc-arrow">
            <span  class="icon ion-arrow-up-a"></span>
            <span class='read-doc-arrow-count'>{{readDoc.up_votes}}</span>
        </div>

        <div ng-click='heart()' class="read-doc-heart">
            <span class=" icon ion-heart"></span>
            <span class="read-doc-heart-count">{{readDoc.hearts}}</span>

        </div>

        <div class="read-doc-message">
            <span class="icon ion-chatbox"></span><span>Talk</span>
            
            
        </div>
    </div>


    <div class="col-sm-8 col-sm-offset-2  read-doc-center">
        <div ng-show='readDoc.doc.has_title' class="text-center read-title">
            {{readDoc.doc.title}}
        </div>

        <div class="row">

            <div class="col-sm-4 pull-left read-doc-author">
                <a ng-hide='readDoc.is_anon' href="">{{readDoc.author.username}}</a>
                <em ng-show='readDoc.is_anon'>Anonymous</em>
            </div>
            <div class="col-sm-8 text-right pull-right read-doc-section-label">            

                <span ng-repeat='topic in readDoc.doc.topics'>
                    <span class='label label-primary tag-label'>{{topic.title}}</span>
                </span>
            </div>    

        </div>

        <div ng-bind-html='readDoc.doc.body' class="read-doc-content">

        </div>

        <br>
        <em>{{moment(readDoc.published_at).format('DD MM YY')}}</em>
        <br>
<!--         <div class="row">
            <div class='col-sm-12' id="read-doc-social">
                <span class="col-sm-4 text-center icon ion-social-twitter"></span>
                <span class="icon ion-social-reddit col-sm-4 text-center "></span>
                <span class="icon ion-email col-sm-4 text-center left"></span>
            </div>
        </div> -->

    </div>
    <div class="col-sm-2">

    </div>

<!--
                    
                    <div class="show-for-medium-up text-right read-doc-write-message">
                        <h5>Message</h5>
                        <textarea name="" id="message-textarea" cols="30" rows="20"></textarea>
                        <button class='button success'>Send</button>
                    </div>
                    
                -->
            </div>

