<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>wrdz</title> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.8.min.css">
    <link rel="stylesheet" href="styles/ionicons.css" />
    <link rel="stylesheet" href="styles/bootstrap.css" />
    <link rel="stylesheet" href="vendor/medium-editor/dist/css/medium-editor.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/angular.css" />
<!--     <link rel="stylesheet" href="styles/angular.css" />
 -->

    <!-- endbuild -->
   <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Droid+Sans|Source+Sans+Pro:400,900|Playfair+Display|Lora|PT+Sans+Narrow|Oleo+Script|Noto+Serif|Roboto+Slab|Lusitana|Open+Sans|Patua+One|Oswald|Bentham' rel='stylesheet' type='text/css'>    
   <link href='http://fonts.googleapis.com/css?family=Tinos:400,700|Cambo|Russo+One|Alegreya+Sans:400,700|Roboto:400,900' rel='stylesheet' type='text/css'>

  </head>
  <body ng-app="wrdz">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class='container-fluid main' ng-include="'partials/main.html'"></div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47683318-1', 'jit.su');
      ga('send', 'pageview');

    </script>
 
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <script src="vendor/angular-perfect-scrollbar.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="vendor/medium-editor/dist/js/medium-editor.js"></script>
    
    <script src="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.8.with-mousewheel.min.js"></script>
    <script src="vendor/ui-router/angular-ui-router.min.js"></script>
    <!-- endbuild -->



        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/states.js"></script>

        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/read.js"></script>
        <script src="scripts/controllers/write.js"></script>
        <script src="scripts/controllers/me.js"></script>
        <script src="scripts/controllers/mywrdz.js"></script>
        
        <script src="scripts/directives/medium-js.js"></script>
        <script src="scripts/directives/directives.js"></script>
        
        <script src="scripts/services/Write.js"></script>
        <script src="scripts/services/Read.js"></script>
        <script src="scripts/services/MyWrdz.js"></script>
        <script src="scripts/services/models/User.js"></script>
        <script src="scripts/services/models/UserDoc.js"></script>
        <script src="scripts/services/models/PubDoc.js"></script>
        <script src="scripts/services/models/Topics.js"></script>
        <!-- endbuild -->
</body>
</html>
